{% extends "V1CoreApp/base.html" %}
<!DOCTYPE html>
{% load static %}
<html lang="en">



{% block title_block %}

{% endblock title_block %}





{% block main_content %}
<main class="main">
    
    {% include "V1CoreApp/components/breadcrumb.html" %}

    <div class="page-content">
        <div class="dashboard">
            <div class="container">
                <div class="row">
                    <aside class="col-md-4 col-lg-3">
                        <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="tab-dashboard-link" data-toggle="tab" href="#tab-dashboard" role="tab" aria-controls="tab-dashboard" aria-selected="true">Child's Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab-orders-link" data-toggle="tab" href="#tab-orders" role="tab" aria-controls="tab-orders" aria-selected="false">My Children</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab-downloads-link" data-toggle="tab" href="#tab-downloads" role="tab" aria-controls="tab-downloads" aria-selected="false">My Tracking</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab-setting-link" data-toggle="tab" href="#tab-setting" role="tab" aria-controls="tab-setting" aria-selected="false">Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab-reminder-link" data-toggle="tab" href="#tab-reminder" role="tab" aria-controls="tab-reminder" aria-selected="false">Reminder</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab-signout-link" data-toggle="tab" href="#tab-signout" role="tab" aria-controls="tab-signout" aria-selected="false">Sign out</a>
                            </li>
                        </ul>
                    </aside><!-- End .col-lg-3 -->

                    <div class="col-md-8 col-lg-9">
                        <div class="tab-content">
                            <div class="tab-pane fade active show" id="tab-dashboard" role="tabpanel" aria-labelledby="tab-dashboard-link">
                                <div class="student-profile py-4">
                                    <div class="container">
                                      <div class="row">

                                        <div class="col-lg-6">
                                            <div class="card card-dashboard">
                                                <div class="card-body">
                                                    <h3 class="card-title">Ishmam Ahasan Samin</h3><!-- End .card-title -->
                                                    <table class="table table-bordered">
                                                        <tr>
                                                          <th width="30%">Name:</th>
                                                          <td>Jack</td>
                                                        </tr>
                                                        <tr>
                                                          <th width="30%">Date of Birth</th>
                                                          <td>Nov 22, 2012</td>
                                                        </tr>
                                                      </table>
                                                    <a href="#">Edit <i class="icon-edit"></i></a></p>
                                                </div><!-- End .card-body -->
                                            </div><!-- End .card-dashboard -->
                                        </div>
                                        <div class="col-lg-8" style="display: none; ">
                                          <div class="card shadow-sm">
                                            <div class="card-header bg-transparent border-0">
                                              <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Ishmam Ahasan Samin</h3>
                                              
                                            </div>
                                            <div class="card-body pt-0">
                                              <table class="table table-bordered">

                                                
                                                <tr>
                                                  <th width="30%">Age</th>
                                                  <td width="2%">:</td>
                                                  <td>30</td>
                                                </tr>
                                                <tr>
                                                  <th width="30%">No of Children	</th>
                                                  <td width="2%">:</td>
                                                  <td>2</td>
                                                </tr>
                                                <tr>
                                                  <th width="30%">Gender</th>
                                                  <td width="2%">:</td>
                                                  <td>Male</td>
                                                </tr>
                                                <tr>
                                                  <th width="30%">Email</th>
                                                  <td width="2%">:</td>
                                                  <td>Ishmam.a.s@gmail.com</td>
                                                </tr>
                                                <tr>
                                                  <th width="30%">Phone</th>
                                                  <td width="2%">:</td>
                                                  <td>0487512875</td>
                                                </tr>
                                              </table>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                                
        <!-- <p>Hello <span class="font-weight-normal text-dark">User</span> (not <span class="font-weight-normal text-dark">User</span>? <a href="#">Log out</a>) 
        <br>From your account dashboard you can view your <a href="#tab-orders" class="tab-trigger-link link-underline">recent orders</a>, manage your <a href="#tab-address" class="tab-trigger-link">addresses</a>, and <a href="#tab-account" class="tab-trigger-link">edit your password and account details</a>.</p> -->
                            </div><!-- .End .tab-pane -->

                            <div class="tab-pane fade" id="tab-orders" role="tabpanel" aria-labelledby="tab-orders-link">
                                <div id="portfolio" class="service px-4 bg-white py-5">
                                    <div class="titie-row row mb-3">
                                       <h2 class="fw-bolder">My children</h2>
                                       
                                   </div>
                                   <div class="entry-container max-col-3" data-layout="fitRows" style="position: relative; height: 2509.75px;">
                                    <div class="entry-item lifestyle shopping col-sm-6 col-lg-4" style="position: absolute; left: 0px; top: 0px;">
                                        <article class="entry entry-grid text-center">
                                            <!-- <figure class="entry-media">
                                                <a href="{% url "V1CoreApp:US121" %}">
                                                    <img src="{% static "assets/images/children/pexels-janko-ferlic-695954.jpg" %}" alt="try">
                                                </a>
                                            </figure> -->
                                            <!-- End .entry-media -->
            
                                            <div class="entry-body">
                                                <div class="entry-meta">
                                                    <span class="entry-author">
                                                        <a href="#">Jack White</a>
                                                    </span>
                                                    <span class="meta-separator">|</span>
                                                    <a href="#">Nov 22, 2012</a>
                                                </div><!-- End .entry-meta -->
        
            
                                                <div class="entry-content">
                                                    <a href="{% url "V1CoreApp:US121" %}" class="read-more">Edit your children's information</a>
                                                </div><!-- End .entry-content -->
                                            </div><!-- End .entry-body -->
                                        </article><!-- End .entry -->
                                    </div><!-- End .entry-item -->

                                    <div class="entry-item lifestyle col-sm-6 col-lg-4" style="position: absolute; left: 404.8px; top: 0px;">
                                        <article class="entry entry-grid text-center">
                                            <!-- <figure class="entry-media">
                                            
                                                <a href="{% url "V1CoreApp:US121" %}">
                                                    <img src="{% static "assets/images/children/pexels-murry-lee-17889245.jpg" %}" alt="try">
                                                </a>
                                            </figure> -->
                                            <!-- End .entry-media -->
            
                                            <div class="entry-body">
                                                <div class="entry-meta">
                                                    <span class="entry-author">
                                                        <a href="#">Sally White</a>
                                                    </span>
                                                    <span class="meta-separator">|</span>
                                                    <a href="#">Nov 21, 2014</a>
                                                </div><!-- End .entry-meta -->
            
            
                                                <div class="entry-content">
                                                    
                                                    <a href="{% url "V1CoreApp:US121" %}" class="read-more">Edit your children's information</a>
                                                </div><!-- End .entry-content -->
                                            </div><!-- End .entry-body -->
                                        </article><!-- End .entry -->
                                    </div><!-- End .entry-item -->
                                </div>
                                </div>
                            </div><!-- .End .tab-pane -->


                            <div class="tab-pane fade" id="tab-downloads" role="tabpanel" aria-labelledby="tab-downloads-link">

                                <div class="row">
                                    <div class="col-lg-12" style="margin: 0 auto; max-width: 600px;">
                                        <div class="titie-row row mb-3">
                                            <h2 class="fw-bolder">Input your food</h2>
                                        </div>
                                    </div>
                                </div>

                                {% include "V1CoreApp/components/recipe_analysis.html" %}

                                
                            </div><!-- .End .tab-pane -->

                            
                            <div class="tab-pane fade" id="tab-setting" role="tabpanel" aria-labelledby="tab-setting-link">
                                <div class="soon-content-wrapper">
                                    <img src="assets/images/logo-icon.png" alt="Logo" class="soon-logo mx-auto">
                                    <h1 class="soon-title">Coming Soon</h1><!-- End .soon-title -->
                                    <div class="coming-countdown countdown-separator is-countdown"><span class="countdown-row countdown-show4"><span class="countdown-section"><span class="countdown-amount">00</span><span class="countdown-period">Days</span></span><span class="countdown-section"><span class="countdown-amount">00</span><span class="countdown-period">Hours</span></span><span class="countdown-section"><span class="countdown-amount">00</span><span class="countdown-period">Minutes</span></span><span class="countdown-section"><span class="countdown-amount">00</span><span class="countdown-period">Seconds</span></span></span></div><!-- End .coming-countdown -->
                                    <hr class="mt-2 mb-3 mt-md-3">
                                    <p>We are currently working on an awesome new site. Stay tuned for more information.
                                        Subscribe to our newsletter to stay updated on our progress.</p>
                                    
                                    
                                </div>  
                            </div><!-- .End .tab-pane -->

                            <div class="tab-pane fade" id="tab-reminder" role="tabpanel" aria-labelledby="tab-reminder-link">

                            </div><!-- .End .tab-pane -->

                            <div class="tab-pane fade" id="tab-signout" role="tabpanel" aria-labelledby="tab-signout-link">

                                    
                                    

                            </div><!-- .End .tab-pane -->
                        </div>
                    </div><!-- End .col-lg-9 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .dashboard -->
    </div><!-- End .page-content -->
</main>
{% endblock main_content %}


{% block more_script %}
<script>
    $(document).ready(function () {
        $('#recipe, #intake').on('input', function (e) {
            var recipeChoice = $('#recipe').val(); // Get selected value
            var recipeIntake = $('#intake').val(); // Get selected value

            if (recipeChoice === 'nan') {
                return; // Do nothing and exit the function
            };
            // AJAX call
            $.ajax({
                type: "POST",
                url: "{% url 'V1CoreApp:guest_tracker' %}", 
                data: {'selected_recipe': recipeChoice,
                        'recipe_intake': recipeIntake,
                        'csrfmiddlewaretoken': '{{csrf_token}}'
                        },
                dataType: 'json',
                success: function (response) {
                    // Update with the received JSON data
                    //console.log(response);
                    if(response.status == 'not found'){
                        $('#recipe_description').empty();
                    } else {
                    $('#recipe_description').text(response.recipe_instructions);
                    $('.table-summary tbody').empty().append(
                        '<tr><td>Calories:</td><td>' + response.calories_intake+ 'Kcal'+
                        '<tr><td>Total Fat:</td><td>' + response.fat_total_g_intake+ 'g'+
                        '<tr><td>Saturated Fat:</td><td>' + response.fat_saturated_g_intake+ 'g'+
                        '<tr><td>Carbohydrates:</td><td>' + response.carbohydrates_total_g_intake+ 'g'+
                        '<tr><td>Protein: </td><td>' + response.protein_g_intake+ 'g'+
                        '<tr><td>Fiber:</td><td>' + response.fiber_g_intake+ 'g'
                    );
                    }
                },
                error: function (request, status, error) {
                    console.log(request.status + ": " + request.responseText);
                }
            });
        });
    });
</script>
{% endblock more_script %}