{% extends "V1CoreApp/base.html" %}
{% load static %}


{% block title_block %}

{% endblock title_block %}





{% block main_content %}
<div class="container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">My Account</a></li>
        <li class="breadcrumb-item"><a href="#">My Children</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit Children Information</li>
    </ol>
</div>
<div class="col-lg-6" style="margin: 0 auto; max-width: 600px;">
    <div class="col-md-8 col-lg-9">
        <div class="tab-content">
            <div class="tab-pane fade active show" id="tab-dashboard" role="tabpanel" aria-labelledby="tab-dashboard-link">
                      



                        <form action="#" class="contact-form mb-3">
                            <div class="row">
                                <div class="col-sm-6">
                                    <label for="cname" class="sr-only">Name</label>
                                    <input type="text" class="form-control" id="cname" placeholder="Name *" required="">
                                </div><!-- End .col-sm-6 -->

                                <div class="col-sm-6">
                                    <label for="cemail" class="sr-only">Age</label>
                                    <input type="email" class="form-control" id="cemail" placeholder="Age" required="">
                                </div><!-- End .col-sm-6 -->
                            </div><!-- End .row -->

                            <div class="row">
                                <div class="col-sm-6">
                                    <label for="cphone" class="sr-only">Height</label>
                                    <input type="tel" class="form-control" id="cphone" placeholder="Height">
                                </div><!-- End .col-sm-6 -->

                                <div class="col-sm-6">
                                    <label for="csubject" class="sr-only">Weight</label>
                                    <input type="text" class="form-control" id="csubject" placeholder="Weight">
                                </div><!-- End .col-sm-6 -->
                            </div><!-- End .row -->

                        
                            <div class="text-center">
                                <button type="submit" class="btn btn-outline-primary-2 btn-minwidth-sm">
                                    <span>SUBMIT</span>
                                    <i class="icon-long-arrow-right"></i>
                                </button>
                            </div>
                            


                        </form><!-- End .contact-form -->
                        </div>
                  </div>
    
{% endblock main_content %}