
{% extends "CoreApp/base.html" %}
{% load static %}


{% block title_block %}
    US 11
{% endblock title_block %}


{% block main_content %}
    <div class="w3-content" style="max-width:2000px;margin-top:46px">
        <h1> About Us</h1>
    </div>

    <div class="about-text text-center mt-3">
        <h2 class="title text-center mb-2">Who We Are</h2><!-- End .title text-center mb-2 -->
        <p>Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Suspendisse potenti. Sed egestas, ante et vulputate volutpat, uctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum hendrerit tortor. Sed semper lorem at felis. </p>
        
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-4 col-sm-6">
            <div class="icon-box icon-box-sm text-center">
                <span class="icon-box-icon">
                    <i class="icon-puzzle-piece"></i>
                </span>
                <div class="icon-box-content">
                    <h3 class="icon-box-title">Design Quality</h3><!-- End .icon-box-title -->
                    <p>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero <br>eu augue.</p>
                </div><!-- End .icon-box-content -->
            </div><!-- End .icon-box -->
        </div><!-- End .col-lg-4 col-sm-6 -->

        <div class="col-lg-4 col-sm-6">
            <div class="icon-box icon-box-sm text-center">
                <span class="icon-box-icon">
                    <i class="icon-life-ring"></i>
                </span>
                <div class="icon-box-content">
                    <h3 class="icon-box-title">Professional Support</h3><!-- End .icon-box-title -->
                    <p>Praesent dapibus, neque id cursus faucibus, <br>tortor neque egestas augue, eu vulputate <br>magna eros eu erat. </p>
                </div><!-- End .icon-box-content -->
            </div><!-- End .icon-box -->
        </div><!-- End .col-lg-4 col-sm-6 -->

        <div class="col-lg-4 col-sm-6">
            <div class="icon-box icon-box-sm text-center">
                <span class="icon-box-icon">
                    <i class="icon-heart-o"></i>
                </span>
                <div class="icon-box-content">
                    <h3 class="icon-box-title">Made With Love</h3><!-- End .icon-box-title -->
                    <p>Pellentesque a diam sit amet mi ullamcorper <br>vehicula. Nullam quis massa sit amet <br>nibh viverra malesuada.</p> 
                </div><!-- End .icon-box-content -->
            </div><!-- End .icon-box -->
        </div><!-- End .col-lg-4 col-sm-6 -->
    </div>

    <div class="container">
        <h2 class="title text-center mb-4">Meet Our Team</h2><!-- End .title text-center mb-2 -->

        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <div class="member member-2 text-center">
                    <figure class="member-media">
                        <img src="assets/images/team/about-2/member-1.jpg" alt="member photo">

                        <figcaption class="member-overlay">
                            <div class="social-icons social-icons-simple">
                                <a href="#" class="social-icon" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                                <a href="#" class="social-icon" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                                <a href="#" class="social-icon" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                            </div><!-- End .soial-icons -->
                        </figcaption><!-- End .member-overlay -->
                    </figure><!-- End .member-media -->
                    <div class="member-content">
                        <h3 class="member-title">Asif Aziz<span>Founder &amp; CEO</span></h3><!-- End .member-title -->
                    </div><!-- End .member-content -->
                </div><!-- End .member -->
            </div><!-- End .col-lg-3 -->

            <div class="col-sm-6 col-lg-3">
                <div class="member member-2 text-center">
                    <figure class="member-media">
                        <img src="assets/images/team/about-2/member-2.jpg" alt="member photo">

                        <figcaption class="member-overlay">
                            <div class="social-icons social-icons-simple">
                                <a href="#" class="social-icon" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                                <a href="#" class="social-icon" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                                <a href="#" class="social-icon" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                            </div><!-- End .soial-icons -->
                        </figcaption><!-- End .member-overlay -->
                    </figure><!-- End .member-media -->
                    <div class="member-content">
                        <h3 class="member-title">Eason Chen<span>Sales &amp; Marketing Manager</span></h3><!-- End .member-title -->
                    </div><!-- End .member-content -->
                </div><!-- End .member -->
            </div><!-- End .col-lg-3 -->

            <div class="col-sm-6 col-lg-3">
                <div class="member member-2 text-center">
                    <figure class="member-media">
                        <img src="assets/images/team/about-2/member-3.jpg" alt="member photo">

                        <figcaption class="member-overlay">
                            <div class="social-icons social-icons-simple">
                                <a href="#" class="social-icon" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                                <a href="#" class="social-icon" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                                <a href="#" class="social-icon" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                            </div><!-- End .soial-icons -->
                        </figcaption><!-- End .member-overlay -->
                    </figure><!-- End .member-media -->
                    <div class="member-content">
                        <h3 class="member-title">Lucy<span>Product Manager</span></h3><!-- End .member-title -->
                    </div><!-- End .member-content -->
                </div><!-- End .member -->
            </div><!-- End .col-lg-3 -->

            <div class="col-sm-6 col-lg-3">
                <div class="member member-2 text-center">
                    <figure class="member-media">
                        <img src="assets/images/team/about-2/member-4.jpg" alt="member photo">

                        <figcaption class="member-overlay">
                            <div class="social-icons social-icons-simple">
                                <a href="#" class="social-icon" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                                <a href="#" class="social-icon" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                                <a href="#" class="social-icon" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                            </div><!-- End .soial-icons -->
                        </figcaption><!-- End .member-overlay -->
                    </figure><!-- End .member-media -->
                    <div class="member-content">
                        <h3 class="member-title">Parisa Tabrizi<span>Product Manager</span></h3><!-- End .member-title -->
                    </div><!-- End .member-content -->
                </div><!-- End .member -->
            </div><!-- End .col-lg-3 -->


        </div><!-- End .row -->

        <div class="text-center mt-3">
            <a href="blog.html" class="btn btn-sm btn-minwidth-lg btn-outline-primary-2">
                <span>LETS START WORK</span>
                <i class="icon-long-arrow-right"></i>
            </a>
        </div><!-- End .text-center -->
    </div>

{% endblock main_content %}

