
{% extends "CoreApp/base.html" %}
{% load static %}


{% block title_block %}
{% endblock title_block %}


{% block main_content %}
   
<div class="page-content pb-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">

                <!-- WHO WE ARE -->
                <div class="about-text text-center mt-3">
                    <h2 class="title text-center mb-2">Who We Are</h2><!-- End .title text-center mb-2 -->
                    <p>We are a cohesive team driven by a shared commitment to excellence, fueled by innovative thinking and unwavering determination. Our primary objective is to cater to the needs of our users, understanding their requirements deeply and striving to fulfill them comprehensively.<br>

                        <br> Our platform is meticulously designed to empower parents, equipping them with the knowledge and tools necessary to enhance their children's well-being. We emphasize the importance of proper nutrition and offer personalized dietary plans tailored to each child's unique needs. By fostering a culture of holistic health and fitness, we believe in shaping a brighter and healthier future generation.<br>
                        
                        <br>Through continuous research and development, we endeavor to stay at the forefront of providing valuable insights and practical solutions. Our ultimate aim is to inspire families to lead active lifestyles and make informed choices that contribute to the overall well-being of their children and future generations to come. </p>
                    <!-- <img src="CoreApp/assets/images/about/about-2/signature.png" alt="signature" class="mx-auto mb-5">

                    <img src="CoreApp/assets/images/about/about-2/img-1.jpg" alt="image" class="mx-auto mb-6"> -->
                </div><!-- End .about-text -->
                <!-- END WHO WE ARE -->

                <!-- Objectives -->
                <div class="about-text text-center mt-3">
                    <h2 class="title text-center mb-2">OBJECTIVES</h2><!-- End .title text-center mb-2 -->
                    <p>1. Empower parents with educational tools on child development, parenting, and mental health.
                       <br> 2. Build a supportive online community for parents to connect and share experiences.
                       <br> 3. Provide practical resources and strategies for parents to implement positive practices in caring for their children</p>
                    <!-- <img src="CoreApp/assets/images/about/about-2/signature.png" alt="signature" class="mx-auto mb-5">

                    <img src="CoreApp/assets/images/about/about-2/img-1.jpg" alt="image" class="mx-auto mb-6"> -->
                </div><!-- End .about-text -->
                <!-- END  Objectives -->


                <div class="about-text text-center mt-3">
                    <h2 class="title text-center mb-2">Expertise and Credentials</h2><!-- End .title text-center mb-2 -->
                    <p>At JuniorJoy, our team comprises seasoned professionals with diverse backgrounds and expertise, including Business Analysts, Data Scientists, IT experts, and Cybersecurity specialists. Each member brings a wealth of knowledge and industry experience to our platform, ensuring that we provide the highest quality of tools and information for parents. Our Business Analysts ensure that our content is relevant and impactful, while our Data Scientists leverage data-driven insights to enhance our resources. Our IT experts ensure a seamless user experience, and our Cybersecurity experts prioritize the safety and privacy of our users. Together, our team is committed to empowering parents with the most reliable and valuable resources to support them in their journey of nurturing and caring for their children. </p>
                    <!-- <img src="CoreApp/assets/images/about/about-2/signature.png" alt="signature" class="mx-auto mb-5">

                    <img src="CoreApp/assets/images/about/about-2/img-1.jpg" alt="image" class="mx-auto mb-6"> -->
                </div><!-- End .about-text -->
            </div><!-- End .col-lg-10 offset-1 -->
        </div><!-- End .row -->
        
    </div><!-- End .container -->

    <div class="mb-2"></div><!-- End .mb-2 -->


</div>




{% endblock main_content %}

