{% extends "CoreApp/base.html" %}

{% load static %}

{% block title_block %}
{% endblock title_block %}

{% block extra_css %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock extra_css %}

{% block main_content %}

{% include "CoreApp/components/breadcrumb.html" %}
<div class="entry-content editor-content" style ='justify-content: center'>
  
  <div style="display: flex; justify-content: center; padding-bottom: 10px;">
    <div class="container col-9.9">
      <div>
        <h3>What is BMI?</h3>
        <p>BMI stands for Body Mass Index. It's a measure used to assess an individual's body weight in relation to their height. It's calculated by dividing a person's weight in kilograms by the square of their height in meters. <strong>The formula is: BMI = weight (kg) / (height (m) * height (m))</strong></p>
        <p>BMI is commonly used as a screening tool to categorize individuals into different weight status categories, such as <strong>underweight, normal weight, overweight, and obese</strong>. However, it's important to note that BMI is a rough estimate and doesn't directly measure body fat or overall health. It's just one of many factors to consider when evaluating an individual's health status.</p>
      </div>
    </div>
  </div>

  <div class="w3-content" style="max-width:2000px;margin-top:15px"></div>

  <div class="container">
    <div class="row">
      <aside class="col-lg-5">
        <div class="sidebar">
          <div class="widget">
            <h3 class="widget-title">BMI Calculator</h3><!-- End .widget-title -->

            <style>
              /* Style for the label */
              label {
                  display: block; /* Make labels appear on a new line */
                  margin-bottom: 15px; /* Add some space between label and input */
                  font-weight: bold; /* Make labels bold */
                  margin-left: -8px
              }
          
              /* Style for the input */
              input[type="form"] {
                  width: calc(100% - 10px); /* Make input take up the remaining width */
                  padding: 5px; /* Add padding for better visual appearance */
                  border: 1px solid #ccc; /* Add a border */
                  border-radius: 5px; /* Add rounded corners */
                  box-sizing: border-box; /* Include padding and border in the width */
                  margin-left: 2px
              }
            </style>

            <div class="tagcloud" id="tagcloud" style="font-weight: bold;">
              <div>
                <label class="col-lg-12" for="heightInput">Height (CM):</label>
                <input class="col-lg-12" id="height" type="form">
                
                <div class="w3-content" style="max-width:2000px;margin-top:15px"></div>
                
                <label class="col-lg-12" for="weightInput">Weight (KG):</label>
                <input class="col-lg-12" id="weight" type="form">

                <button onclick="calculateBMI()">Calculate</button>
              </div>
            </div>
          </div>
        </div><!-- End .sidebar -->
      </aside><!-- End .col-lg-5 -->

      <div class="col-lg-7">
        <div class="entry-content editor-content">
          <h3>What does this BMI value mean to your children?</h3>
          <p id="underweight" style="height: 20px; margin-left: 5px;">
            &#x2022; Under 18.5 - Your children are underweight and possibly malnourished.
          </p>
          <p id="normal" style="height: 20px; margin-left: 5px;">
            &#x2022; 18.5 to 24.9 - Your children have a healthy weight range.
          </p>
          <p id="overweight" style="height: 20px; margin-left: 5px;">
            &#x2022; 25.0 to 29.9 - Your children are overweight.
          </p>
          <p id="obese" style="height: 20px; margin-left: 5px;">
            &#x2022; Over 30 - Your children are obese.
          </p>
        </div>
      </div><!-- End .col-lg-7 -->

    </div><!-- End row information -->
  </div>

  <div class="w3-content" style="max-width:2000px;margin-top:100px"></div>

  <div class="container">
    <hr class="mb-2">
      <div class="cta bg-image pt-3 pb-3 mb-3" style="background-color:#d2efd5;background-position: center right;">
        <div class="row justify-content-center">
            <div class="col-sm-10 col-md-8 col-lg-8">
                <div class="cta-text text-center">
                    <h3 class="cta-title"> Are you interested in preparing healthy meals for your children? </h3><!-- End .cta-title -->
                    <p class="cta-desc">Discover healthy recipes that might be helpful to control your children's BMI<p> 
                    </p><!-- End .cta-desc -->
                    <a href="{% url "CoreApp:recipes" %}" class="btn btn-primary btn-rounded"><span>Explore Healthy Recipes</span><i class="icon-long-arrow-right"></i></a>
                </div><!-- End .cta-text -->
            </div><!-- End .col-sm-10 col-md-8 col-lg-6 -->
        </div><!-- End .row -->
      </div><!-- End .cta -->
    </hr>
  </div>

</div>

<script>
  $(document).ready(function () {
  
  });
</script>
{% endblock main_content %}