{% extends "CoreApp/base.html" %}
{% load static %}


{% block title_block %}
    US 11
{% endblock title_block %}





{% block main_content %}

<div class="page-content">
    <div class="checkout">
        <div class="container">
            <form id="foodForm" method="POST"> {% csrf_token %}
                <div class="row">
                    <div class="col-lg-8">
                        <h2 class="checkout-title">Recipe Content</h2><!-- End .checkout-title -->
                            <div class="row">
                                <div class="col-sm-6">
                                    <label>Recipe Name</label>
                                    <div class="select-custom">
                                        <select name="selected_recipe" id="recipe" class="form-control">
                                            <option value="nan" selected="selected">Select a recipe</option>
                                            {% for r in recipes %}
                                            <option value="{{r.recipe_name}}">{{r.recipe_name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div><!-- End .select-custom -->
                                </div><!-- End .col-sm-6 -->

                                <div class="col-sm-6">
                                    <label>Portion</label>
                                    <input type="text" name="portion_size" class="form-control" required="">
                                </div><!-- End .col-sm-6 -->
                            </div>
                            <div class="row mt-5">
                                <div class="summary" style="min-width: -webkit-fill-available;">
                                    <h3 class="summary-title">Recipe Description</h3>
                                    <p id="recipe_description" style="padding-bottom: 1.7rem"></p>
                                </div><!-- End .summary -->
                            </div>
                            <div class="row mt-5">
                                <div class="col-lg-6" style="margin: 0 auto; max-width: 600px; text-align: center;">
                                    <button type="submit" class="btn btn-outline-primary-2 btn-minwidth-sm">
                                        <span>SUBMIT</span>
                                        <i class="icon-long-arrow-right"></i>
                                    </button>
                                </div>        
                            </div>
                    </div>
                    <aside class="col-lg-4">
                        <div class="summary">
                            <h3 class="summary-title">Food Description</h3>
                            <p id="food_description" style="border-bottom: .1rem solid #ebebeb; padding-bottom: 1.7rem">Blue utility pinafore denimdressBlue utility pinafore denimdressBlue utility pinafore denimdressBlue utility pinafore denimdress</p>

                            <table class="table table-summary mt-3">
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td>denimdress</td>
                                        <td>80%</td>
                                    </tr>

                                    <tr>
                                        <td><a href="#">Blue utility pinafore denimdress</a></td>
                                        <td>$76,00</td>
                                    </tr>
                                    <tr class="summary-subtotal">
                                        <td>Subtotal:</td>
                                        <td>$160.00</td>
                                    </tr><!-- End .summary-subtotal -->
                                    <tr>
                                        <td>Shipping:</td>
                                        <td>Free shipping</td>
                                    </tr>
                                    <tr class="summary-total">
                                        <td>Total:</td>
                                        <td>$160.00</td>
                                    </tr><!-- End .summary-total -->
                                </tbody>
                            </table><!-- End .table table-summary -->

                        </div><!-- End .summary -->
                    </aside><!-- End .col-lg-3 -->
                </div><!-- End .row -->
            </form>
        </div><!-- End .container -->
    </div><!-- End .checkout -->
</div>


{% endblock main_content %}


{% block more_script %}
<script>
    $(document).ready(function () {
        $('#recipe').on('change', function () {
            var recipeChoice = $(this).val(); // Get selected value
            
            // AJAX call
            $.ajax({
                type: "POST",
                url: "{% url 'CoreApp:guest_tracker' %}", 
                data: {'selected_recipe': recipeChoice,
                        'csrfmiddlewaretoken': '{{csrf_token}}'
                        },
                success: function (response) {
                    // Update with the received JSON data
                    if(response.status == 'not found'){
                        $('#recipe_description').empty();
                    } else {
                    $('#recipe_description').text(response.recipe_instructions);
                    $('.table-summary tbody').empty().append(
                        '<tr><td>' + response.name + '</td><td>$' + response.price + '</td></tr>' +
                        '<tr class="summary-subtotal"><td>Subtotal:</td><td>$' + response.price + '</td></tr>' +
                        '<tr><td>Portion Size:</td><td>' + response.portion_size + '</td></tr>'
                    );
                    }
                },
                error: function (request, status, error) {
                    console.log(request.status + ": " + request.responseText);
                }
            });
        });
    });
</script>
{% endblock more_script %}