{% extends "CoreApp/base.html" %}
{% load static %}



{% block body_block %}

<!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:46px">


<div style="margin-top: 10px; margin-bottom: 10px;">
  <a href="{% url "CoreApp:US11" %}" class="btn btn-success btn-lg active" role="button" aria-pressed="true">US11</a>
</div>

<div style="margin-bottom: 10px;">
  <a href="{% url "CoreApp:US12" %}" class="btn btn-success btn-lg active" role="button" aria-pressed="true">US12</a>
</div>

<div style="margin-bottom: 10px;">
  <a href="{% url "CoreApp:US13" %}" class="btn btn-success btn-lg active" role="button" aria-pressed="true">US13</a>
</div>

<div style="margin-bottom: 10px;">
  <a href="{% url "CoreApp:US21" %}" class="btn btn-success btn-lg active" role="button" aria-pressed="true">US21</a>
</div>

<div style="margin-bottom: 10px;">
  <a href="{% url "CoreApp:US22" %}" class="btn btn-success btn-lg active" role="button" aria-pressed="true">US22</a>
</div>
<div style="margin-bottom: 10px;">
  <a href="{% url "CoreApp:US23" %}" class="btn btn-success btn-lg active" role="button" aria-pressed="true">US23</a>
</div>







<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
  <i class="fa fa-facebook-official w3-hover-opacity"></i>
  <i class="fa fa-instagram w3-hover-opacity"></i>
  <i class="fa fa-snapchat w3-hover-opacity"></i>
  <i class="fa fa-pinterest-p w3-hover-opacity"></i>
  <i class="fa fa-twitter w3-hover-opacity"></i>
  <i class="fa fa-linkedin w3-hover-opacity"></i>
  <p class="w3-medium">Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>



{% endblock body_block %}

