{% extends "CoreApp/base.html" %}

{% load static %}

{% block title_block %}
{% endblock title_block %}

{% block extra_css %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock extra_css %}

{% block main_content %}

{% include "CoreApp/components/breadcrumb.html" %}
<div class="entry-content editor-content" style ='justify-content: center'>
  
  <div style="display: flex; justify-content: center; padding-bottom: 10px;">
    <div class="container col-9.9">
      <div>
        <h3>What is Micronutrient</h3>
        <p>Micronutrients, like vitamins and minerals, are essential for kids' growth and health. They help with things like strong bones, a good immune system, and keeping their brains working well. Found in foods like fruits, veggies, and milk, these nutrients are crucial for kids to grow and stay energized. Even though they're needed in smaller amounts, they're super important for kids' overall health. Eating different kinds of foods helps kids get all the micronutrients they need to grow up strong and happy.</p>
      </div>
    </div>
  </div>

  <div class="container"><!-- container macro -->
    <div class="row">
    
      <aside class="col-lg-5">
        <div class="sidebar">
          <div class="widget">
            <h3 class="widget-title">Micronutrients</h3><!-- End .widget-title -->
            <div class="tagcloud" id="tagcloud" style="font-weight: bold;">
              
              <style>
                .tagcloud a {
                  padding: 10px 20px;
                  border: 1px solid #ccc;
                  border-radius: 10px; /* Adjust border radius for rounded corners */
                  text-decoration: none;
                  color: #333;
                  font-weight: bold;
                  background-color: #fff;
                  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
                }
            
                .tagcloud a:hover {
                  background-color: #f0f0f0;
                  border-color: #999;
                  color: #000; /* Change text color on hover */
                }
              </style>
              
              <a name="Vitamin_A" style="background-color:rgb(107, 228, 170);color:#393232">Vitamin A</a>
              <a name="Vitamin_B" style="background-color:rgb(107, 228, 170);color:#393232">Vitamin B</a>
              <a name="Vitamin_C" style="background-color:rgb(107, 228, 170);color:#393232">Vitamin C</a>
              <a name="Vitamin_D" style="background-color:rgb(107, 228, 170);color:#393232">Vitamin D</a>
              <a name="Vitamin_E" style="background-color:rgb(107, 228, 170);color:#393232">Vitamin E</a>
              <a name="Vitamin_K" style="background-color:rgb(107, 228, 170);color:#393232">Vitamin K</a>
              <a name="Magnesium" style="background-color:rgb(107, 228, 170);color:#393232">Magnesium</a>
              <a name="Calcium" style="background-color:rgb(107, 228, 170);color:#393232">Calcium</a>
              <a name="Zinc" style="background-color:rgb(107, 228, 170);color:#393232">Zinc</a>
              <a name="Iron" style="background-color:rgb(107, 228, 170);color:#393232">Iron</a>
            </div>
          </div>
        </div><!-- End .sidebar -->
      </aside><!-- End .col-lg-5 -->

      <div class="col-lg-7">
        <div class="entry-content editor-content">
          <h3>How will this nutrition benefit your children?</h3>
            <p id="micro_benefits" style="height: 100px;">Click the button on the left</p>
          <h3>Where can you help your children get this nutrition?</h3>
            <p id="micro_sources" style="height: 100px;">Click the button on the left</p>
        </div>
      </div><!-- End .col-lg-7 -->

    </div><!-- End row information -->
  </div><!-- End container macro -->

  <div class="container">
    <hr class="mb-2">
      <div class="cta bg-image pt-3 pb-3 mb-3" style="background-color:#d2efd5;background-position: center right;">
        <div class="row justify-content-center">
            <div class="col-sm-10 col-md-8 col-lg-8">
                <div class="cta-text text-center">
                    <h3 class="cta-title"> Concerned about your child's health? </h3><!-- End .cta-title -->
                    <p class="cta-desc"><p>Discover the hidden dangers lurking in everyday foods! Our guide on common food additives reveals the truth behind artificial sweeteners, preservatives, and more. Arm yourself with knowledge to safeguard your family's well-being. 
                    </p><!-- End .cta-desc -->
            
                    <a href="{% url "CoreApp:US13" %}" class="btn btn-primary btn-rounded"><span>Explore More</span><i class="icon-long-arrow-right"></i></a>
                </div><!-- End .cta-text -->
            </div><!-- End .col-sm-10 col-md-8 col-lg-6 -->
        </div><!-- End .row -->
      </div><!-- End .cta -->
    </hr>
  </div>

</div>

<script>
  $(document).ready(function () {
    //var tagcloud = 
    $('#tagcloud a').on('click', function (e) {
        var tagChoice = $(this).attr('name'); // Get selected value

        if (tagChoice === 'nan') {
            return; // Do nothing and exit the function
        };
        // console.log(tagChoice)
        // AJAX call
        $.ajax({
            type: "POST",
            url: "{% url 'CoreApp:micronutrients' %}", 
            data: {'selected_tag': tagChoice,
                    'csrfmiddlewaretoken': '{{csrf_token}}'
                  },
            dataType: 'json',
            success: function (response) {
                // Update with the received JSON data
                console.log(response);
                if(response.status == 'not found'){
                    $('#micro_benefits').empty();
                    $('#micro_sources').empty();
                } else {
                $('#micro_benefits').text(response.benefits);
                $('#micro_sources').text(response.sources);
                }
            },
            error: function (request, status, error) {
                console.log(request.status + ": " + request.responseText);
            }
            
        });
    });
  });
</script>
{% endblock main_content %}