{% extends "CoreApp/base.html" %}
{% load static %}


{% block title_block %}
    
{% endblock title_block %}





{% block main_content %}

<div class="container">
    <div class="page-header" style=" background-color:#d2efd5; text-align: center;">
        <div class="container">
            <h1 class="page-title col-lg-10 mx-auto" style="font-size: 24px;text-align: center;">Nutrition Analyzer<span>{{sub_title}}</span></h1>
        </div><!-- End .container -->
</div>

<nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url "CoreApp:index" %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Nutrition Analyzer</li>
        </ol>
    </div><!-- End .container -->
</nav><!-- End .breadcrumb-nav -->

<div class="page-content">
    <div class="checkout">
        <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <h2 class="checkout-title">Recipe Nutrition Analysis</h2><!-- End .checkout-title -->
                        <p>Choose a recipe from the menu and indicate the portion consumed to access its nutritional values. If your child has eaten half of one standard serving, input 0.5 as the portion.</p><!-- End .checkout-title -->
                        <div class="row">
                            <div class="col-sm-6">
                                <label>Recipe Name</label>
                                <div class="select-custom">
                                    <select name="selected_recipe" id="recipe" class="form-control">
                                        <option value="nan" selected="selected">Select a recipe</option>
                                        {% for r in recipes %}
                                        <option value="{{r.recipe_name}}">{{r.recipe_name}}</option>
                                        {% endfor %}
                                    </select>
                                </div><!-- End .select-custom -->
                            </div><!-- End .col-sm-6 -->

                            <div class="col-sm-6">
                                <label>Portion</label>
                                <input type="text" id="intake" name="recipe_intake" class="form-control" required="" value="1">
                            </div><!-- End .col-sm-6 -->
                        </div>
                        <div class="row mt-5">
                            <div class="summary" style="min-width: -webkit-fill-available;">
                                <h3 class="summary-title">Recipe Description</h3>
                                <p id="recipe_description" style="padding-bottom: 1.7rem"></p>
                            </div><!-- End .summary -->
                        </div>
                    </div>
                    <aside class="col-lg-4">
                        <div class="summary">
                            <h3 class="summary-title">Nutrition Analysis</h3>
                            <p id="food_description" style="border-bottom: .1rem solid #ebebeb; padding-bottom: 1.7rem"></p>

                            <table class="table table-summary mt-3">
                                <thead>
                                    <tr>
                                        <th>Nutrition</th>
                                        <th>Amount</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td>Calories:</td>
                                        <td></td>
                                    </tr>

                                    <tr>
                                        <td>Total Fat:</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Saturated Fat:</td>
                                        <td></td>
                                    </tr><!-- End .summary-subtotal -->
                                    <tr>
                                        <td>Carbohydrates:</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Total:</td>
                                        <td></td>
                                    </tr><!-- End .summary-total -->
                                </tbody>
                            </table><!-- End .table table-summary -->

                        </div><!-- End .summary -->
                    </aside><!-- End .col-lg-3 -->
                </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .checkout -->
</div>


{% endblock main_content %}


{% block more_script %}
<script>
    $(document).ready(function () {
        $('#recipe, #intake').on('input', function (e) {
            var recipeChoice = $('#recipe').val(); // Get selected value
            var recipeIntake = $('#intake').val(); // Get selected value

            if (recipeChoice === 'nan') {
                return; // Do nothing and exit the function
            };
            
            
            // AJAX call
            $.ajax({
                type: "POST",
                url: "{% url 'CoreApp:guest_tracker' %}", 
                data: {'selected_recipe': recipeChoice,
                        'recipe_intake': recipeIntake,
                        'csrfmiddlewaretoken': '{{csrf_token}}'
                        },
                dataType: 'json',
                success: function (response) {
                    // Update with the received JSON data
                    //console.log(response);
                    if(response.status == 'not found'){
                        $('#recipe_description').empty();
                    } else {
                    $('#recipe_description').text(response.recipe_instructions);
                    $('.table-summary tbody').empty().append(
                        '<tr><td>Calories:</td><td>' + response.calories_intake+ 'Kcal'+
                        '<tr><td>Total Fat:</td><td>' + response.fat_total_g_intake+ 'g'+
                        '<tr><td>Saturated Fat:</td><td>' + response.fat_saturated_g_intake+ 'g'+
                        '<tr><td>Carbohydrates:</td><td>' + response.carbohydrates_total_g_intake+ 'g'+
                        '<tr><td>Protein: </td><td>' + response.protein_g_intake+ 'g'+
                        '<tr><td>Fiber:</td><td>' + response.fiber_g_intake+ 'g'
                    );
                    }
                },
                error: function (request, status, error) {
                    console.log(request.status + ": " + request.responseText);
                }
            });
        });
    });
</script>
{% endblock more_script %}