{% extends "CoreApp/base.html" %}
{% load static %}

{% block title_block %}
  
{% endblock title_block %}



{% block extra_css %}

{% endblock extra_css %}

{% block main_content %}
<main class="main">
    <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="index.html">Recipe List</a></li>
                <li class="breadcrumb-item active" aria-current="page">Recipe List</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="container">
            <div class="product-details-top">
                <div class="row">
                    <div class="col-md-6">
                        <div class="product-gallery product-gallery-vertical">
                            <figure class="product-main-image">
                                <img id="product-zoom" src="{% static "assets/images/CinnamonChicken.jpg" %}" data-zoom-image="assets/images/products/single/1-big.jpg" alt="product image">
                            </figure><!-- End .product-main-image -->

                        </div><!-- End .product-gallery -->
                    </div><!-- End .col-md-6 -->

                    <div class="col-md-6">
                        <div class="product-details">
                            <h1 class="product-title">CinnamonChicken</h1><!-- End .product-title -->

                            <div class="ratings-container">
                                <div class="ratings">
                                    <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                                </div><!-- End .ratings -->
                                <!-- <a class="ratings-text" href="#product-review-link" id="review-link">( 2 Reviews )</a> -->
                            </div><!-- End .rating-container -->

                            <div class="product-price">
                                <!-- <p>See full recipe on: Martha Stewart</p> -->
                                
                            </div><!-- End .full recipe -->

                            <div class="product-content">
                                <p>Cumin, coriander, and cinnamon give this easy soup an exotic Moroccan flavor. With bits of tender chicken and carrots, it makes a satisfying lunch. </p>
                            </div><!-- End .product-content -->


                            <div class="product-details-footer">
                                <div class="product-cat">
                                    <h5>Diet Labels:</h5>
                                    <p>Low-Carb</p>
                                </div><!-- End .product-cat -->

                            </div>

                            <div class="product-details-footer">
                                <div class="product-cat">
                                    <h5>Health Labels:</h5>
                                    <p>Sugar-Conscious,
                                        Keto-Friendly,
                                        Paleo,
                                        Mediterranean,
                                        Dairy-Free,
                                        Gluten-Free,
                                        Wheat-Free,
                                        Egg-Free,
                                        Peanut-Free,
                                        Tree-Nut-Free,
                                        Soy-Free,
                                        Fish-Free,
                                        Shellfish-Free,
                                        Pork-Free,
                                        Red-Meat-Free,
                                        Crustacean-Free,
                                        Celery-Free,
                                        Mustard-Free,
                                        Sesame-Free,
                                        Lupine-Free,
                                        Mollusk-Free,
                                        Alcohol-Free,
                                        No oil added,
                                        Sulfite-Free,
                                        FODMAP-Free,
                                        Kosher,
                                        Immuno-Supportive</p>
                                </div><!-- End .product-cat -->

                            </div>

                            <div class="product-details-action">
                                <a href="#" class="btn-product btn-wishlist" title="Wishlist"><span>Add to Like</span></a>
                            </div><!-- End .product-details-action -->

                            </div><!-- End .product-details-footer -->
                        </div><!-- End .product-details -->
                    </div><!-- End .col-md-6 -->
                </div><!-- End .row -->
            </div><!-- End .product-details-top -->

            <div class="product-details-tab">
                <ul class="nav nav-pills justify-content-center" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="product-desc-link" data-toggle="tab" href="#product-desc-tab" role="tab" aria-controls="product-desc-tab" aria-selected="true">Ingredients</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="product-info-link" data-toggle="tab" href="#product-info-tab" role="tab" aria-controls="product-info-tab" aria-selected="false">Nutrition</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="product-shipping-link" data-toggle="tab" href="#product-shipping-tab" role="tab" aria-controls="product-shipping-tab" aria-selected="false">Preparation</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="product-desc-tab" role="tabpanel" aria-labelledby="product-desc-link">
                        <div class="product-desc-content">
                            <!-- <h3>Ingredients</h3> -->
                            <p>1 chicken (3 pounds), cut into 8 pieces
                                Coarse salt and freshly ground pepper
                                1/4 teaspoon ground cinnamon</p>
                        </div><!-- End .product-desc-content -->
                    </div><!-- .End .tab-pane -->
                    <div class="tab-pane fade" id="product-info-tab" role="tabpanel" aria-labelledby="product-info-link">
                        <div class="product-desc-content">

                            <div id="nutrition-list">
                                <div class="row">
                                    <div class="col-md-2">
                                        <h2>Fat</h2>
                                    </div>
                                    <div class="col-md-6">
                                        <span class="percent">
                                            <span>54%</span>
                                        </span>
                                        <span class="size">
                                            <span itemprop="fatContent" data-unit="g">35g</span>
                                        </span>
                                    </div>
                                </div> 

                                <div class="row">
                                    <div class="col-md-2">
                                        <h2>Fat</h2>
                                    </div>
                                    <div class="col-md-6">
                                        <span class="percent">
                                            <span>54%</span>
                                        </span>
                                        <span class="size">
                                            <span itemprop="fatContent" data-unit="g">35g</span>
                                        </span>
                                    </div>
                                </div> 
                                

                                
                            </div>
                            

                        </div><!-- End .product-desc-content -->
                    </div><!-- .End .tab-pane -->
                    <div class="tab-pane fade" id="product-shipping-tab" role="tabpanel" aria-labelledby="product-shipping-link">
                        <div class="product-desc-content">
                            <button class="btn btn-primary btn-rounded" onclick="window.location.href='https://www.marthastewart.com/318142/chicken-and-chickpea-soup'">Instruction</button> on Martha Stewart
                        </div><!-- End .product-desc-content -->
                    </div><!-- .End .tab-pane -->
                    <div class="tab-pane fade" id="product-review-tab" role="tabpanel" aria-labelledby="product-review-link">

                    </div><!-- .End .tab-pane -->
                </div><!-- End .tab-content -->
            </div><!-- End .product-details-tab -->


            <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl" 
                data-owl-options='{
                    "nav": false, 
                    "dots": true,
                    "margin": 20,
                    "loop": false,
                    "responsive": {
                        "0": {
                            "items":1
                        },
                        "480": {
                            "items":2
                        },
                        "768": {
                            "items":3
                        },
                        "992": {
                            "items":4
                        },
                        "1200": {
                            "items":4,
                            "nav": true,
                            "dots": false
                        }
                    }
                }'>
            </div><!-- End .owl-carousel -->
        </div><!-- End .container -->
    </div><!-- End .page-content -->
</main><!-- End .main -->



{% endblock main_content %}