{% extends "CoreApp/base.html" %}
{% load static %}

{% block title_block %}

{% endblock title_block %}



{% block extra_css %}

{% endblock extra_css %}

{% block main_content %}


<main class="main">
    <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url "CoreApp:index" %}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url "CoreApp:recipes" %}">Healthy Recipes</a></li>
                <li class="breadcrumb-item active" aria-current="page">Recipe</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="container">
            <div class="product-details-top">
                <div class="row">
                    <div class="col-md-6">
                        <div class="product-gallery product-gallery-vertical">
                            <figure class="product-main-image">      
                                <img id="product-zoom" src="{% static 'CoreApp/assets/images/recipes/'|add:the_recipe.name|add:'300_300.jpeg' %}" data-zoom-image="CoreApp/assets/images/products/single/1-big.jpg" alt="product image">
                            </figure><!-- End .product-main-image -->

                        </div><!-- End .product-gallery -->
                    </div><!-- End .col-md-6 -->

                    <div class="col-md-6">
                        <div class="product-details">
                            <h1 class="product-title">{{the_recipe.name}}</h1><!-- End .product-title -->

                            <div class="product-content">
                                <p></p>
                            </div><!-- End .product-content -->


                            <div class="product-details-footer">
                                <div class="product-cat">
                                    <h5>Diet Labels:</h5>
                                    <div class="row ">
                                        {% for diet in the_recipe.diet_label.all %}
                                            <div class="col-6 col-6 ">
                                                {{ diet.label }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div><!-- End .product-cat -->
                            </div><!-- End .product deyait footer -->

                            <div class="product-details-footer">
                                <h5>Health Labels:</h5>
                                <div class="row">
                                    {% for tag in the_recipe.health_tag.all %}
                                    <div class="col-6 col-md-4 col-sm-4 col-xl-3">
                                        {{ tag.tag }}
                                    </div>
                                {% endfor %}
                                </div> <!-- End row -->
                            </div>

                        </div><!-- End .product-details-footer -->

                    
                    </div><!-- End .col-md-6 -->
                </div><!-- End .row -->
            </div><!-- End .product-details-top -->

            <div class="product-details-tab">
                <ul class="nav nav-pills justify-content-center" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="product-desc-link" data-toggle="tab" href="#product-desc-tab" role="tab" aria-controls="product-desc-tab" aria-selected="true">Ingredients</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="product-info-link" data-toggle="tab" href="#product-info-tab" role="tab" aria-controls="product-info-tab" aria-selected="false">Nutrition</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="product-shipping-link" data-toggle="tab" href="#product-shipping-tab" role="tab" aria-controls="product-shipping-tab" aria-selected="false">Preparation</a>
                    </li>
                </ul>
                <div class="tab-content">

                    <!-- Ingredient tab -->
                    <div class="tab-pane fade show active" id="product-desc-tab" role="tabpanel" aria-labelledby="product-desc-link">
                        <div class="product-desc-content">
                            <!-- <h3>Ingredients</h3> -->
                            {% for i in the_recipe.related_ingredients.all %}
                                {{ i.ingredient_text }} <br>
                            {% endfor %}
                        </div><!-- End .product-desc-content -->
                    </div><!-- .End .tab-pane -->
                    <!-- END Ingredient tab -->

                    <!-- Nutrition tab -->
                    <div class="tab-pane fade" id="product-info-tab" role="tabpanel" aria-labelledby="product-info-link">
                        <div class="product-desc-content">

                            <div id="nutrition-list">
                                <div class="row">
                                    <!-- <h3>Ingredients</h3> -->
                                    {% for i in the_recipe.related_nutrients.all %}
                                        <div class="col-6 col-md-4 col-sm-4 col-xl-3">
                                            {{ i }}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            
                        </div><!-- End .product-desc-content -->
                    </div><!-- .End .tab-pane -->
                    <!-- END Nutrition tab -->

                    <!-- Prepration tab -->
                    <div class="tab-pane fade" id="product-shipping-tab" role="tabpanel" aria-labelledby="product-shipping-link">
                        <div class="product-desc-content" style="text-align: center;">
                            <button class="btn btn-primary btn-rounded" onclick="window.location.href='{{object.url}}'">View Instruction</button>
                        </div><!-- End .product-desc-content -->
                    </div><!-- .End .tab-pane -->
                    <!-- Prepration tab -->

                    <div class="tab-pane fade" id="product-review-tab" role="tabpanel" aria-labelledby="product-review-link">
                    </div><!-- .End .tab-pane -->

                </div><!-- End .tab-content -->
            </div><!-- End .product-details-tab -->


            <h2 class="title text-center mb-4">You May Also Like</h2>

            <div class="row">
                    {% for rr in recommendations %}
                    <div class="col-6 col-md-3 col-lg-3">
                        <div class="product">
                            <figure class="product-media">
                                <!-- <span class="product-label label-new">New</span> -->
                                <a  href="{% url 'CoreApp:recipe-detail' slug=rr.slug %}">
                                    <img src="{% static 'CoreApp/assets/images/recipes/'|add:rr.name|add:'300_300.jpeg' %}" alt="rr.name" class="product-image">
                                </a>
                                <div class="product-action-vertical">
                                    <!-- <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a> -->
                                </div><!-- End .product-action -->

                                <div class="product-action ">
                                    <a href="{% url 'CoreApp:recipe-detail' slug=rr.slug %}" class="btn-product btn-quickview"><span>View Recipe</span></a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <div class="product-cat">
                                    <p>{% for meal in rr.meal.all %} {{meal.type|title}} {% endfor %}</p>
                                </div><!-- End .product-cat -->
                                
                                <h3 class="product-title"><a href="{% url 'CoreApp:recipe-detail' slug=rr.slug %}">{{rr.name}}</a></h3><!-- End .product-title -->
                                <div class="product-price">
                                    <!-- $50.00 -->
                                </div><!-- End .product-price -->
                                
                            </div><!-- End .product-body -->
                        </div><!-- End .product -->
                
                    </div><!-- End .col-sm-6 col-lg-4 col-xl-3 -->
                    {% endfor %}

            </div><!-- End .row -->

            <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl" 
                data-owl-options='{
                    "nav": false, 
                    "dots": true,
                    "margin": 20,
                    "loop": false,
                    "responsive": {
                        "0": {
                            "items":1
                        },
                        "480": {
                            "items":2
                        },
                        "768": {
                            "items":3
                        },
                        "992": {
                            "items":4
                        },
                        "1200": {
                            "items":4,
                            "nav": true,
                            "dots": false
                        }
                    }
                }'>
            </div><!-- End .owl-carousel -->
        </div><!-- End .container -->










    </div><!-- End .page-content -->
</main><!-- End .main -->



{% endblock main_content %}