{% extends "CoreApp/base.html" %}
{% load static %}

{% block extra_css %}
  <script src="https://d3js.org/d3.v6.min.js"></script>

  
  <link rel="stylesheet" href="{% static "assets/css/Profile.css" %}">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock extra_css %}


{% block main_content %}
  
  <style>
  </style>
</head>
<body>
  {% include "CoreApp/components/breadcrumb.html" %}
  
  <div class="entry-content editor-content" style ='justify-content: center'>
    <div style="display: flex; justify-content: center; padding-bottom: 10px;">

      

      <div class="container col-10">
        <h3>Insight on Australian Children Sugary Drink Consumption</h3>
        <div class="row">
          <div class="col-6">
            <div class="banner">
                <img src="{% static "assets/images/banners/sugar1.png" %}"  alt="Banner">
            </div><!-- End .banner -->
          </div><!-- End .col-6 -->
          <div class="col-sm-5">
            <img src="{% static "assets/images/banners/sugar4.png" %}"  alt="Banner">
          </div>
        </div>

        <div class="row">
          <div class="col-10">
            <p>The sugar consumption among Australian Children has dropped in recent years, however, the daily sugar consumption is still higher than recommended by health experts. Despite the decline, it remains a concern due to its association with various health issues such as obesity, tooth decay, and diabetes. Efforts to further reduce sugar intake among Australian children are crucial for promoting healthier lifestyles and preventing long-term health complications.</p>
          </div>

        </div>

        

        <div class="col-md-10">
          <div class="tabs-vertical">
            <ul class="nav nav-tabs nav-tabs-bg flex-column" id="tabs-7" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="tab-25-tab" data-toggle="tab" href="#tab-25" role="tab" aria-controls="tab-25" aria-selected="true">Sugary drink among boys</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="tab-26-tab" data-toggle="tab" href="#tab-26" role="tab" aria-controls="tab-26" aria-selected="false">Sugary drink among Girls</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="tab-27-tab" data-toggle="tab" role="tab" href="#tab-27"aria-controls="tab-27" aria-selected="false">Sugar in snacks and drinks</a>
                </li>
            </ul>
            <div class="tab-content tab-content-border" id="tab-content-7" >
                <div class="tab-pane fade active show" id="tab-25" role="tabpanel" aria-labelledby="tab-25-tab">
                  <div class = "row">
                    <p class="mb-1">The charts display the number of Australian boys, out of every 20, drinking the daily sugary drink of one metric cup or less, based on a recent national survey</p>
                    <div class="col-4 mt-0">
                      <!-- Pictogram for male -->
                      <div id="chart-container-male1" ></div>
                    </div>
                    <div class="col-md-8">
                      <div class = "row">
                      <p></p>
                      </div>

                    </div><!--  col2 -->

                  </div><!-- end row for tab1 -->

                  <div class = "row"  style="justify-content: center; opacity: 0; animation: fadeIn 1s ease-in-out forwards; animation-delay: 1s;">
                    <p style = "font-size: 1rem;"">Source: National Health Survey, 2020–21 — Australia</p>
                    </div>
                </div><!-- .End .tab-pane -->

                <div class="tab-pane fade" id="tab-26" role="tabpanel" aria-labelledby="tab-26-tab">
                  <div class = "row">
                    <p class="mb-1">The charts display the number of Australian girls, out of every 20, drinking the daily sugary drink of one metric cup or less, based on a recent national survey</p>
                    <div class="col-md-4">
                      <div id="chart-container-female1" class="col-6"></div>
                    </div>
                    <div class="col-md-8">
                      <p></p>
                    </div>  
                  </div><!-- end row for tab2 -->
                  <div class = "row"  style="justify-content: center; opacity: 0; animation: fadeIn 1s ease-in-out forwards; animation-delay: 1s;">
                    <p style = "font-size: 1rem;"">Source: National Health Survey, 2020–21 — Australia</p>
                    </div>
                </div><!-- .End .tab-pane -->

                <div class="tab-pane fade" id="tab-27" role="tabpanel" aria-labelledby="tab-27-tab">
                  
                    <p>To promote informed choices about your nutrition, we've included a unique feature that displays the sugar content of each item. Simply select any snack or drink from the list below to view its image and discover the amount of sugar it contains. Understanding the real sugar content empowers you to make healthier choices and manage  sugar intake of your child effectively.</p>
                    <div class = "col-5">
                      <select name="selected_snack" id="snack" class="form-control">  
                        <option value="nan">-----</option>
                        <option value="snack_1">Tim Tam Chocolate Biscuits</option>
                        <option value="snack_2">Dairy Milk</option>
                        <option value="snack_3">Snickers</option>
                        <option value="snack_4">Kellogg’s Kaleidos Bars</option>
                        <option value="drink_1">Coca Cola </option>
                        <option value="drink_2">Fanta Orange</option>
                        <option value="drink_3">Mango Juice</option>
                        <option value="drink_4">Orange Juice</option>
                      </select>
                    </div>
                    <div class = "col-5" id="sugar_info_snack"></div>
                    <div class = "row">
                      <div class = "col-3">
                        <img id="snack_img" src=""{% static 'assets/images/icons/fast-backward.gif' %}" alt="" style="width: 260px; height: auto;">
                      </div>
                      <div class = "col-8">
                        <div id="snack_description" >Select a snack from the menue.</div>
                        <div id="snack_description2" class ="mb-2 mt-2"></div>
                        <div id="sugar_cube_snack" ></div>
                      </div>
                    </div>

                  
                </div><!-- .End .tab-pane -->


            </div><!-- End .tab-content -->
          </div><!-- End .tabs-vertical -->
        </div>

      </div> 
    </div> 


    <div class="w3-content" style="max-width:2000px;margin-top:30px"></div>
  <div class="container">
    <div class="cta bg-image pt-3 pb-3 mb-3" style="background-color:#d2efd5;background-position: center right;">
      <div class="row justify-content-center">
        <div class="col-sm-10 col-md-8 col-lg-8">
            <div class="cta-text text-center">
                <h3 class="cta-title"> Concerned about your child's health? </h3><!-- End .cta-title -->
                <p class="cta-desc"><p>Swap out sugary options for nourishing alternatives. Discover a healthier approach for your kids with our collection of healthy recipes to make snacks and smoothies. 
                </p><!-- End .cta-desc -->
                  <a href="{% url "CoreApp:recipes" %}?meal=breakfast" class="btn btn-primary btn-rounded"><span>Explore Recipes</span><i class="icon-long-arrow-right"></i></a>
              </div><!-- End .cta-text -->
          </div><!-- End .col-sm-10 col-md-8 col-lg-6 -->
      </div><!-- End .row -->
    </div>
  </div><!-- action banner .row -->
  <div class="w3-content" style="max-width:2000px;margin-top:60px"></div>
<script>

//Tab 3 and 4 javascript
  // Select the SVG container and create an SVG element inside it
  const svg_sugar = d3.select("#sugar_cube_snack").append("svg")
    .attr("width", 400)
    .attr("height", 120);

function drawSugarCubes(numCubes) {
  const cubeSize = 30;

  // Remove any existing content inside the SVG
  svg_sugar.selectAll("*").remove();

  // Draw sugar cubes
  for (let i = 0; i < numCubes; i++) {
    svg_sugar.append("image")
      .attr("x", i * cubeSize * 1.5)
      .attr("y", 0)
      .attr("width", cubeSize)
      .attr("height", cubeSize)
      .attr("xlink:href", "{% static 'assets/images/svg/sugar-cube.svg' %}")
      .style("opacity", 0) // Initially set opacity to 0
        .transition()
        .delay((d, i) => i * 400) // Delay each image's animation
        .duration(800) // Animation duration
        .style("opacity", 1)
  }
}


$(document).ready(function () {
  $('#snack').on('input', function (e) {
      var snack = $('#snack').val(); // Get selected value
      if (snack === 'nan') {
          return; 
      };
      // AJAX call
      $.ajax({
          type: "POST",
          url: "{% url 'CoreApp:sugar_insights' %}", 
          data: {'selected_snack': snack,
                  'csrfmiddlewaretoken': '{{csrf_token}}'
                  },
          dataType: 'json',
          success: function (response) {
              // Update with the received JSON data
              //console.log(response);
              if(response.status == 'not found'){
                  $('#snack').empty();
              } else {
                //console.log(respnse.name)
                $('#snack_description').text("Each serving of "+ response.name + " (" + response.serving_size + ") "+"contains " + response.sugar_per_serve + " of sugar." )
                $('#snack_description2').text(" Equals to :").hide().fadeIn();
                $('#snack_img').attr('src', response.image).hide().fadeIn();
                
                drawSugarCubes(response.sugar_cubes)
              }
          },
          error: function (request, status, error) {
              console.log(request.status + ": " + request.responseText);
          }
      });
  
  });
  
});





  // Tab 1 and 2 javascripts
      // Sample data
      const data_boys = [
      { age: "2-3 years old", count: 1},
      { age: "4-8 years old", count: 2 },
      { age: "9-11 years old", count: 4}
  ];

        // Sample data
        const data_girls = [
        { age: "2-3 years old", count: 0 },
        { age: "4-8 years old", count: 2 },
        { age: "9-11 years old", count: 3}
    ];

  function drawImagesTab1(data, svg_container, complete_svg, half_svg) {
    // Create SVG container
    const svg = d3.select(svg_container).append("svg")
        .attr("width", 400)
        .attr("height", 320);

    // Create groups for each age group
    const groups = svg.selectAll(".age-group")
        .data(data)
        .enter()
        .append("g")
        .attr("class", "age-group mt-0 mb-0")
        .attr("transform", (d, i) => `translate(50, ${i * 100 + 40})`);

    // Append age group labels
    groups.append("text")
        .text(d => d.age)
        .attr("x", -40)
        .attr("y", 10)
        .attr("font-family", "Arial")
        .attr("font-size", "14px")
        .attr("font-weight", "bold");

    // Append SVG images for each age group
    groups.each(function(d) {
        const count = d.count;
        const integerCount = Math.floor(count);
        const fractionalCount = count - integerCount;

        // Append full images
        d3.select(this).selectAll(".full-boy")
            .data(d3.range(integerCount))
            .enter()
            .append("image")
            .attr("class", "full-boy")
            .attr("xlink:href", complete_svg)
            .attr("x", (d, i) => i * 45)
            .attr("y", 30)
            .attr("width", 40)
            .attr("height", 40)
            .attr("filter", "url(#colorFilter)");

        // Append fractional images
        if (fractionalCount > 0) {
            d3.select(this).append("image")
                .attr("xlink:href", half_svg)
                .attr("x", integerCount * 45)
                .attr("y", 30)
                .attr("width", 40)
                .attr("height", 40)
                .attr("filter", "url(#colorFilter)");
        }
    });

    // Append filter element for color change
    svg.append("defs")
        .append("filter")
        .attr("id", "colorFilter")
        .append("feColorMatrix")
        .attr("type", "matrix")
        .attr("values", "1 0 0 0 0.5  0.5 0 0 0 0.08  0 0 0 0 0  0 0 0 0.9 0"); // Adjust color values here

    // Add fade-in animation
    svg.selectAll("image")
        .style("opacity", 0) // Initially set opacity to 0
        .transition()
        .delay((d, i) => i * 400) // Delay each image's animation
        .duration(500) // Animation duration
        .style("opacity", 1); // Fade in animation
}

// first draw
drawImagesTab1(data_boys,
svg_container= "#chart-container-male1",
complete_svg = "{% static 'assets/images/svg/boy-face.svg' %}",
half_svg = "{% static 'assets/images/svg/half-boy.svg' %}");

// Call drawImages function when the user clicks on Tab 1
document.getElementById("tab-25-tab").addEventListener("click", function() {
  d3.select("#chart-container-male1").selectAll("svg").remove();
  drawImagesTab1(data_boys, svg_container= "#chart-container-male1", complete_svg = "{% static 'assets/images/svg/boy-face.svg' %}",
  half_svg = "{% static 'assets/images/svg/half-boy.svg' %}");
});

// Call drawImages function when the user clicks on Tab 1
document.getElementById("tab-26-tab").addEventListener("click", function() {
  d3.select("#chart-container-female1").selectAll("svg").remove();
  drawImagesTab1(data_girls, svg_container= "#chart-container-female1", complete_svg = "{% static 'assets/images/svg/girl-face.svg' %}",
  half_svg = "{% static 'assets/images/svg/half-girl.svg' %}");
});


</script>

</body>

{% endblock main_content %}