{% extends "CoreApp/base.html" %}
{% load static %}

{% block title_block %}
  
{% endblock title_block %}



{% block extra_css %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
{% endblock extra_css %}

{% block main_content %}

    {% include "CoreApp/components/breadcrumb.html" %}


    <div class="entry-content editor-content" style ='justify-content: center'>
      <div style="display: flex; justify-content: center; padding-bottom: 10px;">
        <div class="container col-10">
          <div>
              <h3>Implications of overweight among children</h3>
              According to research conducted by Jebeile and colleagues (2022), primary strategies for preventing overweight and obesity focus on family behaviours, including diet, physical activity, sedentary habits, and sleep quality. These approaches are supported by behaviour change techniques.
              Hence, it is crucial to prioritise improvements in easily modifiable factors to prevent overweight and obesity. Since family behaviours and habits are internal factors that play a significant role, it is important to note that external factors can also influence these behaviours.</p>
          </div>
          <!-- <img src="{% static 'CoreApp/img/US1.3_2.jpeg' %}" alt="" style="width: 260px; height: auto;"> -->
          <div class="entry-content editor-content">
            <h3>Rising Trend of Overweight and Obesity </h3>
            <p>The line graph, derived from WHO data, illustrates a concerning trend: the crude estimate of overweight and obesity prevalence is on the rise in Australia. This is particularly alarming given that approximately one-fourth of children in Australia are overweight, and similarly, one-fourth of children obtain energy from discretionary foods. Discretionary foods refer to items that provide energy but 
            offer little to no nutritional value, such as sugary snacks, processed foods, and sugary beverages.
          </div>

      
        </div>
      </div>

    <div class="container" style ='justify-content: center'>

      <div class="row cta-border mb-5" style ='justify-content: center' >
        <!-- side bar -->
        <div class="col-lg-3 pt-7 mb-5">
                        
          <label for="genderSelect">Select Gender:</label>
            <select id="genderSelect">
              <option value="Male">Male</option>
              <option value="Female">Female</option>
              <option value="Person">All</option>
            </select>
            <!-- Legends for donut charts -->
            <div class="legend" id="legend1"></div>
            <div class="legend" id="legend4"></div>
        </div>


        <div class="col-lg-9">
          <div style="flex-grow: 2; align-items: center;">
            <canvas id="lineChart" width="600" height="200"></canvas>
          </div>
            <div id="maleTitle" style="display: flex; justify-content: space-around;font-weight: bold;">Prevalence of Overweight and Obesity Among Children         
          </div>
          <!-- First row of charts -->
          <div style="display: flex; padding: 10px;">
                <div>
                    <div id="maleTitle" style="display: flex; justify-content: space-around;">Age: 2-3 years old</div>
                    <canvas id="ageGroup1Chart" width="200" height="200"></canvas>
                </div>
                <div>
                    <div id="femaleTitle" style="display: flex; justify-content: space-around;">Age: 4-8 years old</div>
                    <canvas id="ageGroup2Chart" width="200" height="200"></canvas>
                </div>
                <div>
                    <div id="personsTitle" style="display: flex; justify-content: space-around;">Age: 9-13 years old</div>
                    <canvas id="ageGroup3Chart" width="200" height="200"></canvas>
                </div>
          </div>
      
          <div id="maleTitle" style="display: flex; justify-content: space-around; font-weight: bold;">Proportion of Energy gained from Discretionary Food Among Children</div>

          <!-- Second row of charts -->
          <div style="display: flex; padding: 10px;">
              <div>
                  <div id="personsTitle" style="display: flex; justify-content: space-around;">Age: 2-3 years old</div>
                  <canvas id="ageGroup1ChartDisc" width="200" height="200"></canvas>
              </div>
              <div>
                  <div id="personsTitle" style="display: flex; justify-content: space-around;">Age: 4-8 years old</div>
                  <canvas id="ageGroup2ChartDisc" width="200" height="200"></canvas>
              </div>
              <div>
                  <div id="personsTitle" style="display: flex; justify-content: space-around;">Age: 9-13 years old</div>
                  <canvas id="ageGroup3ChartDisc" width="200" height="200"></canvas>
              </div>
          </div>
      </div>
      

    </div>
        
  </div>

  <div style="display: none; justify-content: center; padding-bottom: 10px;">
    <div class="container col-10">
      <div>
          <h3>Understanding Overweight and Obesity through Primary and Secondary Factors</h3>
          In accordance with research by Flodgren, et al., (2020), parents can enhance their understanding of overweight and obesity by considering primary and secondary categorizations. Primary factors typically stem from familial and direct influences on weight, while secondary factors are more influenced by external elements. This categorization aids parents in identifying areas where they can directly intervene within the family context and areas where they may need to address broader environmental or societal factors.  
        </div>
      
      <table style="border-collapse: collapse; width: 100%;">
        <thead>
            <tr>
                <th style="border: 1px solid lightgrey; background-color: rgba(121, 177, 121, 0.434); padding: 8px; text-align: center;">Primary Outcomes</th>
                <th style="border: 1px solid lightgrey; background-color: rgba(121, 177, 121, 0.434); padding: 8px; text-align: center;">Explanations</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="border: 1px solid lightgrey; padding: 8px; text-align: left;">BMI/BMI z score</td>
                <td style="border: 1px solid lightgrey; padding: 8px; text-align: left;">Parents can monitor their child's Body Mass Index (BMI) or BMI z score regularly using growth charts provided by healthcare providers.</td>
            </tr>
            <tr>
                <td style="border: 1px solid lightgrey; padding: 8px; text-align: left;">Physical activity level</td>
                <td style="border: 1px solid lightgrey; padding: 8px; text-align: left;">Encourage and support children to engage in regular physical activity such as sports, outdoor play, or active hobbies.</td>
            </tr>
            <tr>
                <td style="border: 1px solid lightgrey; padding: 8px; text-align: left;">Dietary behaviour</td>
                <td style="border: 1px solid lightgrey; padding: 8px; text-align: left;">Promote a balanced diet rich in fruits and vegetables while limiting the consumption of sugary beverages.</td>
            </tr>
        </tbody>
    </table>
  
    </div>
  </div>

  <div class="container">
 
    <hr class="mb-2">
    <div class="cta bg-image pt-3 pb-3 mb-3" style="background-color:#d2efd5;background-position: center right;">
        <div class="row justify-content-center">
            <div class="col-sm-10 col-md-8 col-lg-8">
                <div class="cta-text text-center">
                    <h3 class="cta-title"> Concerned about your child's health? </h3><!-- End .cta-title -->
                    <p class="cta-desc"><p>Discover the hidden dangers lurking in everyday foods! Our guide on common food additives reveals the truth behind artificial sweeteners, preservatives, and more. Arm yourself with knowledge to safeguard your family's well-being. 
                    </p><!-- End .cta-desc -->
            
                    <a href="{% url "CoreApp:US13" %}" class="btn btn-primary btn-rounded"><span>Explore More</span><i class="icon-long-arrow-right"></i></a>
                </div><!-- End .cta-text -->
            </div><!-- End .col-sm-10 col-md-8 col-lg-6 -->
        </div><!-- End .row -->
    </div><!-- End .cta -->

</div>
        
   
  </div>
    
      <script>
        const alljsonData = JSON.parse('{{json_data|escapejs}}');
        const alljsonData_bmi = JSON.parse('{{json_data_bmi|escapejs}}');
      
        const jsonData_concern = alljsonData.map(item => item.fields);
        const jsonData_bmi = alljsonData_bmi.map(item => item.fields);
        console.log(jsonData_concern)
      
        function fetchAndCreateDonutChart(jsonData, dataType, gender, ageGroup, canvasId, legendId) {
          let filteredData = [];
          
          if (dataType === 'overweight') {
              filteredData = jsonData.filter(row => row.gender === gender && row.age_group === ageGroup && ['Prevalence of overweight', 'Prevalence of not_overweight'].includes(row.concern));
            } else if (dataType === 'disc') {
              filteredData = jsonData.filter(row => row.gender === gender && row.age_group === ageGroup && ['Discretionary Food', 'Non-discretionary Food'].includes(row.concern));
          }
      
          const labels = filteredData.map(row => row.concern);
          const chartData = filteredData.map(row => parseFloat(row.percentage));
          const ctx = document.getElementById(canvasId).getContext('2d');
      
          if (window[canvasId + 'Chart']) {
              window[canvasId + 'Chart'].destroy();
          }
      
          const colors = (dataType === 'overweight') ? ['rgba(255, 0, 0, 0.5)', 'rgba(102, 205, 170, 0.3)'] : ['rgba(255, 165, 0, 0.5)', 'rgba(102, 205, 170, 0.3)'];
      
          window[canvasId + 'Chart'] = createDonutChart(ctx, labels, chartData, colors, 'Text Inside Donut');

          updateLegend(labels, legendId, colors);
      }
      
      
        function updateCharts() {
          const selectedGender = document.getElementById('genderSelect').value;
          fetchAndCreateDonutChart(jsonData_concern,'overweight', selectedGender, '2_3', 'ageGroup1Chart', 'legend1');
          fetchAndCreateDonutChart(jsonData_concern,'overweight', selectedGender, '4_8', 'ageGroup2Chart', 'legend2');
          fetchAndCreateDonutChart(jsonData_concern,'overweight', selectedGender, '9_13', 'ageGroup3Chart', 'legend3');
          fetchAndCreateDonutChart(jsonData_concern,'disc', selectedGender, '2_3', 'ageGroup1ChartDisc', 'legend4');
          fetchAndCreateDonutChart(jsonData_concern,'disc', selectedGender, '4_8', 'ageGroup2ChartDisc', 'legend5');
          fetchAndCreateDonutChart(jsonData_concern,'disc', selectedGender, '9_13', 'ageGroup3ChartDisc', 'legend6');
          fetchAndCreateLineChart(selectedGender, 'BMI_PLUS1C', 'BMI_PLUS2C');
        }
      
        //selection event listener
        document.getElementById('genderSelect').addEventListener('change', updateCharts);
      
        //Creat one donut

        function createDonutChart(ctx, labels, data, colors, text) {
          return new Chart(ctx, {
              type: 'doughnut',
              data: {
                  labels: labels, 
                  datasets: [{
                      data: data,
                      backgroundColor: colors,
                      labels: ''
                  }]
              },
              options: {
                  responsive: false,
                  cutoutPercentage: 70,
                  elements: {
                      center: {
                          text: text,
                          color: '#FF6384',
                          fontStyle: 'Arial',
                          sidePadding: 20,
                          minFontSize: 20,
                          lineHeight: 25
                      }
                  },
                  plugins: {
                  
                  legend: {
                    display: false
                  }
                }
              }
          });
      }
      
      // Call the function for each gender group and default age group
      fetchAndCreateDonutChart(jsonData_concern,'overweight', 'Male', '2_3', 'ageGroup1Chart', 'legend1');
      fetchAndCreateDonutChart(jsonData_concern,'overweight', 'Male', '4_8', 'ageGroup2Chart', 'legend2');
      fetchAndCreateDonutChart(jsonData_concern,'overweight', 'Male', '9_13', 'ageGroup3Chart', 'legend3');
      fetchAndCreateDonutChart(jsonData_concern,'disc', 'Male', '2_3', 'ageGroup1ChartDisc', 'legend4');
      fetchAndCreateDonutChart(jsonData_concern,'disc', 'Male', '4_8', 'ageGroup2ChartDisc', 'legend5');
      fetchAndCreateDonutChart(jsonData_concern,'disc', 'Male', '9_13', 'ageGroup3ChartDisc', 'legend6');
      // Initial call to create line chart with default selections
      fetchAndCreateLineChart('Male', 'BMI_PLUS1C', 'BMI_PLUS2C');
      
      
      
        ///<!-- Line chart -->
        function fetchAndCreateLineChart(gender, bmiCode1, bmiCode2) {
          const filteredData1 = jsonData_bmi.filter(row => row.gender === gender && row.bmi === bmiCode1);
          const filteredData2 = jsonData_bmi.filter(row => row.gender === gender && row.bmi === bmiCode2);
          
          const labels = filteredData1.map(row => row.year);
          const bmiData1 = filteredData1.map(row => row.crude_estimate);
          const bmiData2 = filteredData2.map(row => row.crude_estimate);
          const ctx = document.getElementById('lineChart').getContext('2d');
      
          if (window.lineChart instanceof Chart) {
            window.lineChart.destroy();
          }
      
          window.lineChart = new Chart(ctx, {
            type: 'line',
            data: {
              labels: labels,
              datasets: [
                {
                  label: 'Overweight',
                  data: bmiData1,
                  borderColor: '#FFD700',
                  borderWidth: 2,
                  backgroundColor: '#FFD700',
                  yAxisID: 'y',
                  fill: false,
                  pointRadius: 0
                },
                {
                  label: 'Obesity',
                  data: bmiData2,
                  borderColor: '#990000',
                  borderWidth: 2,
                  backgroundColor: '#990000',
                  yAxisID: 'y',
                  fill: false,
                  pointRadius: 0
                }
              ]
            },
            options: {
              responsive: false,
              interaction: {
                mode: 'index',
                intersect: false,
              },
              stacked: false,
              plugins: {
                title: {
                  display: true,
                  text: 'BMI Trend among children between 5 and 9 years old in Australia'
                }
              },
              scales: {
                y: {
                  type: 'linear',
                  display: true,
                  position: 'left',
                }
              }
            }
          });
        }
      
        //<!-- Legends -->
      
        function updateLegend(labels, legendId, donutColors) {
          const legendElement = document.getElementById(legendId);
          if (legendElement) {
              legendElement.innerHTML = ''; // Clear existing content before updating
      
              labels.forEach((label, index) => {
                  const legendItem = document.createElement('div');
                  const square = document.createElement('span');
                  square.style.width = '10px';
                  square.style.height = '10px';
                  square.style.display = 'inline-block';
                  square.style.backgroundColor = donutColors[index];
                  square.style.marginRight = '5px';
                  legendItem.appendChild(square);
                  legendItem.appendChild(document.createTextNode(label + ' (%)'));
                  legendItem.style.fontSize = '11px';
                  legendItem.style.paddingTop = '5px'; 
                  legendElement.appendChild(legendItem);
              });
          } else {
              console.error(`Element with ID ${legendId} not found.`);
          }
      }
      
        
      
      </script>
    
{% endblock main_content %}
