{% extends "CoreApp/base.html" %}
<!DOCTYPE html>
{% load static %}
<html lang="en">



{% block title_block %}

{% endblock title_block %}





{% block main_content %}
<main class="main">
    <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">Profile</h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Profile</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="dashboard">
            <div class="container">
                <div class="row">
                    <aside class="col-md-4 col-lg-3">
                        <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="tab-dashboard-link" data-toggle="tab" href="#tab-dashboard" role="tab" aria-controls="tab-dashboard" aria-selected="true">My Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab-orders-link" data-toggle="tab" href="#tab-orders" role="tab" aria-controls="tab-orders" aria-selected="false">My Children</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab-downloads-link" data-toggle="tab" href="#tab-downloads" role="tab" aria-controls="tab-downloads" aria-selected="false">My Tracking</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab-address-link" data-toggle="tab" href="#tab-address" role="tab" aria-controls="tab-address" aria-selected="false">Nutrition Guideline</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab-account-link" data-toggle="tab" href="#tab-account" role="tab" aria-controls="tab-account" aria-selected="false">Nutrition Analyzer</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab-setting-link" data-toggle="tab" href="#tab-setting" role="tab" aria-controls="tab-setting" aria-selected="false">Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab-reminder-link" data-toggle="tab" href="#tab-reminder" role="tab" aria-controls="tab-reminder" aria-selected="false">Reminder</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab-signout-link" data-toggle="tab" href="#tab-signout" role="tab" aria-controls="tab-signout" aria-selected="false">Sign out</a>
                            </li>
                        </ul>
                    </aside><!-- End .col-lg-3 -->

                    <div class="col-md-8 col-lg-9">
                        <div class="tab-content">
                            <div class="tab-pane fade active show" id="tab-dashboard" role="tabpanel" aria-labelledby="tab-dashboard-link">
                                <div class="student-profile py-4">
                                    <div class="container">
                                      <div class="row">

                                        <div class="col-lg-6">
                                            <div class="card card-dashboard">
                                                <div class="card-body">
                                                    <h3 class="card-title">Ishmam Ahasan Samin</h3><!-- End .card-title -->
                                                    <table class="table table-bordered">
                                                        <tr>
                                                          <th width="30%">Email</th>
                                                          <td width="2%">:</td>
                                                          <td>Ishmam.a.s@gmail.com</td>
                                                        </tr>
                                                        <tr>
                                                          <th width="30%">Phone</th>
                                                          <td width="2%">:</td>
                                                          <td>0487512875</td>
                                                        </tr>
                                                      </table>
                                                    <a href="#">Edit <i class="icon-edit"></i></a></p>
                                                </div><!-- End .card-body -->
                                            </div><!-- End .card-dashboard -->
                                        </div>
                                        <div class="col-lg-8" style="display: none; ">
                                          <div class="card shadow-sm">
                                            <div class="card-header bg-transparent border-0">
                                              <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Ishmam Ahasan Samin</h3>
                                              
                                            </div>
                                            <div class="card-body pt-0">
                                              <table class="table table-bordered">

                                                
                                                <tr>
                                                  <th width="30%">Age</th>
                                                  <td width="2%">:</td>
                                                  <td>30</td>
                                                </tr>
                                                <tr>
                                                  <th width="30%">No of Children	</th>
                                                  <td width="2%">:</td>
                                                  <td>2</td>
                                                </tr>
                                                <tr>
                                                  <th width="30%">Gender</th>
                                                  <td width="2%">:</td>
                                                  <td>Male</td>
                                                </tr>
                                                <tr>
                                                  <th width="30%">Email</th>
                                                  <td width="2%">:</td>
                                                  <td>Ishmam.a.s@gmail.com</td>
                                                </tr>
                                                <tr>
                                                  <th width="30%">Phone</th>
                                                  <td width="2%">:</td>
                                                  <td>0487512875</td>
                                                </tr>
                                              </table>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                                
                                <!-- <p>Hello <span class="font-weight-normal text-dark">User</span> (not <span class="font-weight-normal text-dark">User</span>? <a href="#">Log out</a>) 
                                <br>
                                From your account dashboard you can view your <a href="#tab-orders" class="tab-trigger-link link-underline">recent orders</a>, manage your <a href="#tab-address" class="tab-trigger-link">shipping and billing addresses</a>, and <a href="#tab-account" class="tab-trigger-link">edit your password and account details</a>.</p> -->
                            </div><!-- .End .tab-pane -->

                            <div class="tab-pane fade" id="tab-orders" role="tabpanel" aria-labelledby="tab-orders-link">
                                <div id="portfolio" class="service px-4 bg-white py-5">
                                    <div class="titie-row row mb-3">
                                       <h2 class="fw-bolder">My children</h2>
                                       
                                   </div>
                                   <div class="entry-container max-col-3" data-layout="fitRows" style="position: relative; height: 2509.75px;">
                                    <div class="entry-item lifestyle shopping col-sm-6 col-lg-4" style="position: absolute; left: 0px; top: 0px;">
                                        <article class="entry entry-grid text-center">
                                            <figure class="entry-media">
                                                <a href="{% url "CoreApp:US121" %}">
                                                    <img src="{% static "assets/images/children/pexels-janko-ferlic-695954.jpg" %}" alt="try">
                                                </a>
                                            </figure><!-- End .entry-media -->
            
                                            <div class="entry-body">
                                                <div class="entry-meta">
                                                    <span class="entry-author">
                                                        <a href="#">John Doe</a>
                                                    </span>
                                                    <span class="meta-separator">|</span>
                                                    <a href="#">Nov 22, 2012</a>
                                                </div><!-- End .entry-meta -->
        
            
                                                <div class="entry-content">
                                                    <a href="{% url "CoreApp:US121" %}" class="read-more">Edit your children's information</a>
                                                </div><!-- End .entry-content -->
                                            </div><!-- End .entry-body -->
                                        </article><!-- End .entry -->
                                    </div><!-- End .entry-item -->

                                    <div class="entry-item lifestyle col-sm-6 col-lg-4" style="position: absolute; left: 404.8px; top: 0px;">
                                        <article class="entry entry-grid text-center">
                                            <figure class="entry-media">
                                                <!-- <a href="{% url "CoreApp:US13" %}" class="btn btn-outline-white banner-link">Discover Now</a> -->
                                                <a href="{% url "CoreApp:US121" %}">
                                                    <img src="{% static "assets/images/children/pexels-murry-lee-17889245.jpg" %}" alt="try">
                                                </a>
                                            </figure><!-- End .entry-media -->
            
                                            <div class="entry-body">
                                                <div class="entry-meta">
                                                    <span class="entry-author">
                                                        <a href="#">John Doe</a>
                                                    </span>
                                                    <span class="meta-separator">|</span>
                                                    <a href="#">Nov 21, 2014</a>
                                                </div><!-- End .entry-meta -->
            
            
                                                <div class="entry-content">
                                                    
                                                    <a href="{% url "CoreApp:US121" %}" class="read-more">Edit your children's information</a>
                                                </div><!-- End .entry-content -->
                                            </div><!-- End .entry-body -->
                                        </article><!-- End .entry -->
                                    </div><!-- End .entry-item -->
                                </div>
                                </div>
                            </div><!-- .End .tab-pane -->


                            <div class="tab-pane fade" id="tab-downloads" role="tabpanel" aria-labelledby="tab-downloads-link">

                                <div class="col-lg-6" style="margin: 0 auto; max-width: 600px;">
                                    <div class="titie-row row mb-3">
                                        <h2 class="fw-bolder">Input your food</h2>
                                    </div>
                                </div>
                                    

                                <form action="#" class="contact-form mb-3">

                            
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="header-dropdown">
                                                <a href="#">Food name</a>
                                                <div class="header-menu">
                                                    <ul>
                                                        <li><a href="#">Prok</a></li>
                                                        <li><a href="#">Cereal grains</a></li>
                                                    </ul>
                                                </div><!-- End .header-menu -->
                                            </div>
                                        </div><!-- End .col-sm-6 -->
                                        <div class="col-sm-6">
                                            <label for="csubject" class="sr-only">Weight</label>
                                            <input type="text" class="form-control" id="csubject" placeholder="Weight *">
                                        </div><!-- End .col-sm-6 -->
                                    </div><!-- End .row -->
                                    
                            


                            
                                    <div class="col-lg-6" style="margin: 0 auto; max-width: 600px; text-align: center;">
                                        <button type="submit" class="btn btn-outline-primary-2 btn-minwidth-sm">
                                            <span>SUBMIT</span>
                                            <i class="icon-long-arrow-right"></i>
                                        </button>
                                    </div>
                                    
                                        <div class="form-control" id="cmessage">Name of food here.</div>
                            
                                </form><!-- End .contact-form -->




                                
                            </div><!-- .End .tab-pane -->

                            <div class="tab-pane fade" id="tab-address" role="tabpanel" aria-labelledby="tab-address-link">
                                <div class="col-lg-8">
                                    <div class="summary">
                                        <h3 class="summary-title">Nutrition Guideline</h3>
                                        
    
                                        <table class="table table-summary mt-0">
                                            <thead>
                                                <tr>
                                                    <th>Nutrition</th>
                                                    <th>Amount</th>
                                                </tr>
                                            </thead>
    
                                            <tbody>
                                                <tr>
                                                    <td>Calories:</td>
                                                    <td></td>
                                                </tr>
    
                                                <tr>
                                                    <td>Protein:</td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td>Dairy:</td>
                                                    <td></td>
                                                </tr><!-- End .summary-subtotal -->
                                                <tr>
                                                    <td>Grains:</td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td>Fruits:</td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td>Vegetables:</td>
                                                    <td></td>
                                                </tr>
                                                <!-- End .summary-total -->
    
    
                                            </tbody>
                                        </table><!-- End .table table-summary -->
    
                                    </div><!-- End .summary -->
                                </div>
                            </div><!-- .End .tab-pane -->





                            <div class="tab-pane fade" id="tab-account" role="tabpanel" aria-labelledby="tab-account-link">
                                <div class="page-content">
                                    <div class="checkout">
                                        <div class="container">
                                                <div class="row">
                                                    <div class="col-lg-8">
                                                        <h2 class="checkout-title">Recipe Nutrition Analysis</h2><!-- End .checkout-title -->
                                                        <p>Choose a recipe from the menu and indicate the portion consumed to access its nutritional values. If your child has eaten half of one standard serving, input 0.5 as the portion.</p><!-- End .checkout-title -->
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <label>Recipe Name</label>
                                                                <div class="select-custom">
                                                                    <select name="selected_recipe" id="recipe" class="form-control">
                                                                        <option value="nan" selected="selected">Select a recipe</option>
                                                                        
                                                                        <option value="Horn and Hardart's Baked Macaroni And Cheese">Horn and Hardart's Baked Macaroni And Cheese</option>
                                                                        
                                                                        <option value="Grandma Lee's Hoisin Chicken Pizza">Grandma Lee's Hoisin Chicken Pizza</option>
                                                                        
                                                                        <option value="Jenny's Creole Hamburgers">Jenny's Creole Hamburgers</option>
                                                                        
                                                                        <option value="Hooter's Hot Dogs">Hooter's Hot Dogs</option>
                                                                        
                                                                        <option value="Crunchy Chicken Nuggets">Crunchy Chicken Nuggets</option>
                                                                        
                                                                        <option value="Soto Banjar Indonesian Chicken Noodle Soup">Soto Banjar Indonesian Chicken Noodle Soup</option>
                                                                        
                                                                        <option value="Grilled Cheese Savory with Anchovies And Garlic">Grilled Cheese Savory with Anchovies And Garlic</option>
                                                                        
                                                                        <option value="Grandma's Spaghetti Gravy">Grandma's Spaghetti Gravy</option>
                                                                        
                                                                        <option value="Beef Tacos">Beef Tacos</option>
                                                                        
                                                                        <option value="Mike Douglas' Chicken Parmigiana">Mike Douglas' Chicken Parmigiana</option>
                                                                        
                                                                        <option value="Salmon Sushi">Salmon Sushi</option>
                                                                        
                                                                        <option value="Chiffonade of Lobster">Chiffonade of Lobster</option>
                                                                        
                                                                        <option value="Deviled Eggs on Toast with Caviar">Deviled Eggs on Toast with Caviar</option>
                                                                        
                                                                        <option value="Pine Nut-Almond Macaroons">Pine Nut-Almond Macaroons</option>
                                                                        
                                                                        <option value="Chestnut Icecream">Chestnut Icecream</option>
                                                                        
                                                                        <option value="Elegant Tuna Casserole">Elegant Tuna Casserole</option>
                                                                        
                                                                        <option value="Jerry Springer's Mashed Potato Meatloaf">Jerry Springer's Mashed Potato Meatloaf</option>
                                                                        
                                                                        <option value="Crockpot Sweet and Sour Pork">Crockpot Sweet and Sour Pork</option>
                                                                        
                                                                    </select>
                                                                </div><!-- End .select-custom -->
                                                            </div><!-- End .col-sm-6 -->


                                
                                                            <div class="col-sm-6">
                                                                <label>Portion</label>
                                                                <input type="text" id="intake" name="recipe_intake" class="form-control" required="" value="1">
                                                            </div><!-- End .col-sm-6 -->
                                                        </div>
                                                        
                                                        <div class="text-center">
                                                            <button type="submit" class="btn btn-outline-primary-2 btn-minwidth-sm">
                                                                <span>SUBMIT</span>
                                                                <i class="icon-long-arrow-right"></i>
                                                            </button>
                                                        </div>
                                                        

                                                        <div class="row mt-5">
                                                            <div class="summary" style="min-width: -webkit-fill-available;">
                                                                <h3 class="summary-title">Recipe Description</h3>
                                                                <p id="recipe_description" style="padding-bottom: 1.7rem"></p>
                                                            </div><!-- End .summary -->
                                                        </div>
                                                    </div>

                                                </div><!-- End .row -->

                                                
                                                
                                                <div class="col-lg-8">
                                                    <div class="summary">
                                                        <h3 class="summary-title">Nutrition Analysis</h3>
                                                        <p id="food_description" style="border-bottom: .1rem solid #ebebeb; padding-bottom: 1.7rem"></p>
                            
                                                        <table class="table table-summary mt-3">
                                                            <thead>
                                                                <tr>
                                                                    <th>Nutrition</th>
                                                                    <th>Amount</th>
                                                                </tr>
                                                            </thead>
                            
                                                            <tbody>
                                                                <tr>
                                                                    <td>Calories:</td>
                                                                    <td></td>
                                                                </tr>
                            
                                                                <tr>
                                                                    <td>Total Fat:</td>
                                                                    <td></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Saturated Fat:</td>
                                                                    <td></td>
                                                                </tr><!-- End .summary-subtotal -->
                                                                <tr>
                                                                    <td>Carbohydrates:</td>
                                                                    <td></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Total:</td>
                                                                    <td></td>
                                                                </tr><!-- End .summary-total -->
                                                            </tbody>
                                                        </table><!-- End .table table-summary -->
                            
                                                    </div><!-- End .summary -->
                                                </div><!-- End .col-lg-3 -->
                                        </div><!-- End .container -->
                                    </div><!-- End .checkout -->
                                </div>  
                            </div><!-- .End .tab-pane -->

                            



                            <div class="tab-pane fade" id="tab-setting" role="tabpanel" aria-labelledby="tab-setting-link">
                                <div class="soon-content-wrapper">
                                    <img src="assets/images/logo-icon.png" alt="Logo" class="soon-logo mx-auto">
                                    <h1 class="soon-title">Coming Soon</h1><!-- End .soon-title -->
                                    <div class="coming-countdown countdown-separator is-countdown"><span class="countdown-row countdown-show4"><span class="countdown-section"><span class="countdown-amount">00</span><span class="countdown-period">Days</span></span><span class="countdown-section"><span class="countdown-amount">00</span><span class="countdown-period">Hours</span></span><span class="countdown-section"><span class="countdown-amount">00</span><span class="countdown-period">Minutes</span></span><span class="countdown-section"><span class="countdown-amount">00</span><span class="countdown-period">Seconds</span></span></span></div><!-- End .coming-countdown -->
                                    <hr class="mt-2 mb-3 mt-md-3">
                                    <p>We are currently working on an awesome new site. Stay tuned for more information.
                                        Subscribe to our newsletter to stay updated on our progress.</p>
                                    
                                    
                                </div>  
                            </div><!-- .End .tab-pane -->

                            <div class="tab-pane fade" id="tab-reminder" role="tabpanel" aria-labelledby="tab-reminder-link">






                            </div><!-- .End .tab-pane -->

                            <div class="tab-pane fade" id="tab-signout" role="tabpanel" aria-labelledby="tab-signout-link">

                                    
                                    

                            </div><!-- .End .tab-pane -->
                        </div>
                    </div><!-- End .col-lg-9 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .dashboard -->
    </div><!-- End .page-content -->
</main>
{% endblock main_content %}