{% extends "CoreApp/base.html" %}
<!DOCTYPE html>
{% load static %}
<html lang="en">



{% block title_block %}

{% endblock title_block %}





{% block main_content %}
<main class="main">
    <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">My Account</h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">My Account</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="dashboard">
            <div class="container">
                <div class="row">
                    <aside class="col-md-4 col-lg-3">
                        <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="tab-dashboard-link" data-toggle="tab" href="#tab-dashboard" role="tab" aria-controls="tab-dashboard" aria-selected="true">My Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab-orders-link" data-toggle="tab" href="#tab-orders" role="tab" aria-controls="tab-orders" aria-selected="false">My Children</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab-downloads-link" data-toggle="tab" href="#tab-downloads" role="tab" aria-controls="tab-downloads" aria-selected="false">My Tracking</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab-address-link" data-toggle="tab" href="#tab-address" role="tab" aria-controls="tab-address" aria-selected="false">My Recipes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab-account-link" data-toggle="tab" href="#tab-account" role="tab" aria-controls="tab-account" aria-selected="false">Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab-setting-link" data-toggle="tab" href="#tab-setting" role="tab" aria-controls="tab-setting" aria-selected="false">Settings</a>
                            </li>
                        </ul>
                    </aside><!-- End .col-lg-3 -->

                    <div class="col-md-8 col-lg-9">
                        <div class="tab-content">
                            <div class="tab-pane fade active show" id="tab-dashboard" role="tabpanel" aria-labelledby="tab-dashboard-link">
                                <div class="student-profile py-4">
                                    <div class="container">
                                      <div class="row">

                                        <div class="col-lg-6">
                                            <div class="card card-dashboard">
                                                <div class="card-body">
                                                    <h3 class="card-title">Ishmam Ahasan Samin</h3><!-- End .card-title -->
                                                    <table class="table table-bordered">
                                                        <tr>
                                                          <th width="30%">Email</th>
                                                          <td width="2%">:</td>
                                                          <td>Ishmam.a.s@gmail.com</td>
                                                        </tr>
                                                        <tr>
                                                          <th width="30%">Phone</th>
                                                          <td width="2%">:</td>
                                                          <td>0487512875</td>
                                                        </tr>
                                                      </table>
                                                    <a href="#">Edit <i class="icon-edit"></i></a></p>
                                                </div><!-- End .card-body -->
                                            </div><!-- End .card-dashboard -->
                                        </div>
                                        <div class="col-lg-8" style="display: none; ">
                                          <div class="card shadow-sm">
                                            <div class="card-header bg-transparent border-0">
                                              <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Ishmam Ahasan Samin</h3>
                                              
                                            </div>
                                            <div class="card-body pt-0">
                                              <table class="table table-bordered">

                                                
                                                <tr>
                                                  <th width="30%">Age</th>
                                                  <td width="2%">:</td>
                                                  <td>30</td>
                                                </tr>
                                                <tr>
                                                  <th width="30%">No of Children	</th>
                                                  <td width="2%">:</td>
                                                  <td>2</td>
                                                </tr>
                                                <tr>
                                                  <th width="30%">Gender</th>
                                                  <td width="2%">:</td>
                                                  <td>Male</td>
                                                </tr>
                                                <tr>
                                                  <th width="30%">Email</th>
                                                  <td width="2%">:</td>
                                                  <td>Ishmam.a.s@gmail.com</td>
                                                </tr>
                                                <tr>
                                                  <th width="30%">Phone</th>
                                                  <td width="2%">:</td>
                                                  <td>0487512875</td>
                                                </tr>
                                              </table>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                                
                                <!-- <p>Hello <span class="font-weight-normal text-dark">User</span> (not <span class="font-weight-normal text-dark">User</span>? <a href="#">Log out</a>) 
                                <br>
                                From your account dashboard you can view your <a href="#tab-orders" class="tab-trigger-link link-underline">recent orders</a>, manage your <a href="#tab-address" class="tab-trigger-link">shipping and billing addresses</a>, and <a href="#tab-account" class="tab-trigger-link">edit your password and account details</a>.</p> -->
                            </div><!-- .End .tab-pane -->

                            <div class="tab-pane fade" id="tab-orders" role="tabpanel" aria-labelledby="tab-orders-link">
                                <div id="portfolio" class="service px-4 bg-white py-5">
                                    <div class="titie-row row mb-3">
                                       <h2 class="fw-bolder">My children</h2>
                                       
                                   </div>
                                   <div class="entry-container max-col-3" data-layout="fitRows" style="position: relative; height: 2509.75px;">
                                    <div class="entry-item lifestyle shopping col-sm-6 col-lg-4" style="position: absolute; left: 0px; top: 0px;">
                                        <article class="entry entry-grid text-center">
                                            <figure class="entry-media">
                                                <a href="{% url "CoreApp:US121" %}">
                                                    <img src="{% static "assets/images/children/pexels-janko-ferlic-695954.jpg" %}" alt="try">
                                                </a>
                                            </figure><!-- End .entry-media -->
            
                                            <div class="entry-body">
                                                <div class="entry-meta">
                                                    <span class="entry-author">
                                                        <a href="#">John Doe</a>
                                                    </span>
                                                    <span class="meta-separator">|</span>
                                                    <a href="#">Nov 22, 2012</a>
                                                </div><!-- End .entry-meta -->
        
            
                                                <div class="entry-content">
                                                    <a href="{% url "CoreApp:US121" %}" class="read-more">Edit your children's information</a>
                                                </div><!-- End .entry-content -->
                                            </div><!-- End .entry-body -->
                                        </article><!-- End .entry -->
                                    </div><!-- End .entry-item -->

                                    <div class="entry-item lifestyle col-sm-6 col-lg-4" style="position: absolute; left: 404.8px; top: 0px;">
                                        <article class="entry entry-grid text-center">
                                            <figure class="entry-media">
                                                <!-- <a href="{% url "CoreApp:US13" %}" class="btn btn-outline-white banner-link">Discover Now</a> -->
                                                <a href="{% url "CoreApp:US121" %}">
                                                    <img src="{% static "assets/images/children/pexels-murry-lee-17889245.jpg" %}" alt="try">
                                                </a>
                                            </figure><!-- End .entry-media -->
            
                                            <div class="entry-body">
                                                <div class="entry-meta">
                                                    <span class="entry-author">
                                                        <a href="#">John Doe</a>
                                                    </span>
                                                    <span class="meta-separator">|</span>
                                                    <a href="#">Nov 21, 2014</a>
                                                </div><!-- End .entry-meta -->
            
            
                                                <div class="entry-content">
                                                    
                                                    <a href="{% url "CoreApp:US121" %}" class="read-more">Edit your children's information</a>
                                                </div><!-- End .entry-content -->
                                            </div><!-- End .entry-body -->
                                        </article><!-- End .entry -->
                                    </div><!-- End .entry-item -->
                                </div>
                                </div>
                            </div><!-- .End .tab-pane -->


                            <div class="tab-pane fade" id="tab-downloads" role="tabpanel" aria-labelledby="tab-downloads-link">

                                <div class="col-lg-6" style="margin: 0 auto; max-width: 600px;">
                                    <div class="titie-row row mb-3">
                                        <h2 class="fw-bolder">Input your food</h2>
                                    </div>
                                </div>
                                    

                                <form action="#" class="contact-form mb-3">

                            
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="header-dropdown">
                                                <a href="#">Food name</a>
                                                <div class="header-menu">
                                                    <ul>
                                                        <li><a href="#">Prok</a></li>
                                                        <li><a href="#">Cereal grains</a></li>
                                                    </ul>
                                                </div><!-- End .header-menu -->
                                            </div>
                                        </div><!-- End .col-sm-6 -->
                                        <div class="col-sm-6">
                                            <label for="csubject" class="sr-only">Weight</label>
                                            <input type="text" class="form-control" id="csubject" placeholder="Weight *">
                                        </div><!-- End .col-sm-6 -->
                                    </div><!-- End .row -->
                                    
                            


                            
                                    <div class="col-lg-6" style="margin: 0 auto; max-width: 600px; text-align: center;">
                                        <button type="submit" class="btn btn-outline-primary-2 btn-minwidth-sm">
                                            <span>SUBMIT</span>
                                            <i class="icon-long-arrow-right"></i>
                                        </button>
                                    </div>
                                    
                                        <div class="form-control" id="cmessage">Name of food here.</div>
                            
                                </form><!-- End .contact-form -->




                                
                            </div><!-- .End .tab-pane -->

                            <div class="tab-pane fade" id="tab-address" role="tabpanel" aria-labelledby="tab-address-link">
                                <div class="soon-content-wrapper">
                                    <img src="assets/images/logo-icon.png" alt="Logo" class="soon-logo mx-auto">
                                    <h1 class="soon-title">Coming Soon</h1><!-- End .soon-title -->
                                    <div class="coming-countdown countdown-separator is-countdown"><span class="countdown-row countdown-show4"><span class="countdown-section"><span class="countdown-amount">00</span><span class="countdown-period">Days</span></span><span class="countdown-section"><span class="countdown-amount">00</span><span class="countdown-period">Hours</span></span><span class="countdown-section"><span class="countdown-amount">00</span><span class="countdown-period">Minutes</span></span><span class="countdown-section"><span class="countdown-amount">00</span><span class="countdown-period">Seconds</span></span></span></div><!-- End .coming-countdown -->
                                    <hr class="mt-2 mb-3 mt-md-3">
                                    <p>We are currently working on an awesome new site. Stay tuned for more information.
                                        Subscribe to our newsletter to stay updated on our progress.</p>
                                    
                                    
                                </div>  
                            </div><!-- .End .tab-pane -->

                            <div class="tab-pane fade" id="tab-account" role="tabpanel" aria-labelledby="tab-account-link">
                                <div class="soon-content-wrapper">
                                    <img src="assets/images/logo-icon.png" alt="Logo" class="soon-logo mx-auto">
                                    <h1 class="soon-title">Coming Soon</h1><!-- End .soon-title -->
                                    <div class="coming-countdown countdown-separator is-countdown"><span class="countdown-row countdown-show4"><span class="countdown-section"><span class="countdown-amount">00</span><span class="countdown-period">Days</span></span><span class="countdown-section"><span class="countdown-amount">00</span><span class="countdown-period">Hours</span></span><span class="countdown-section"><span class="countdown-amount">00</span><span class="countdown-period">Minutes</span></span><span class="countdown-section"><span class="countdown-amount">00</span><span class="countdown-period">Seconds</span></span></span></div><!-- End .coming-countdown -->
                                    <hr class="mt-2 mb-3 mt-md-3">
                                    <p>We are currently working on an awesome new site. Stay tuned for more information.
                                        Subscribe to our newsletter to stay updated on our progress.</p>
                                    
                                    
                                </div>  
                            </div><!-- .End .tab-pane -->

                            <div class="tab-pane fade" id="tab-setting" role="tabpanel" aria-labelledby="tab-setting-link">
                                <div class="soon-content-wrapper">
                                    <img src="assets/images/logo-icon.png" alt="Logo" class="soon-logo mx-auto">
                                    <h1 class="soon-title">Coming Soon</h1><!-- End .soon-title -->
                                    <div class="coming-countdown countdown-separator is-countdown"><span class="countdown-row countdown-show4"><span class="countdown-section"><span class="countdown-amount">00</span><span class="countdown-period">Days</span></span><span class="countdown-section"><span class="countdown-amount">00</span><span class="countdown-period">Hours</span></span><span class="countdown-section"><span class="countdown-amount">00</span><span class="countdown-period">Minutes</span></span><span class="countdown-section"><span class="countdown-amount">00</span><span class="countdown-period">Seconds</span></span></span></div><!-- End .coming-countdown -->
                                    <hr class="mt-2 mb-3 mt-md-3">
                                    <p>We are currently working on an awesome new site. Stay tuned for more information.
                                        Subscribe to our newsletter to stay updated on our progress.</p>
                                    
                                    
                                </div>  
                            </div><!-- .End .tab-pane -->
                        </div>
                    </div><!-- End .col-lg-9 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .dashboard -->
    </div><!-- End .page-content -->
</main>
{% endblock main_content %}