
<div class="container">
<div class="page-header" style=" background-color:#d2efd5; text-align: center;">
    <div class="container">
        <h1 class="page-title col-lg-10 mx-auto" style="font-size: 24px;text-align: center;">{{main_title}}<span>{{sub_title}}</span></h1>
    </div><!-- End .container -->
</div>
</div>

<nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url "CoreApp:index" %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{page_name}}</li>
        </ol>
    </div><!-- End .container -->
</nav><!-- End .breadcrumb-nav -->