{% extends "V2CoreApp/base.html" %}
{% load static %}


{% block title_block %}
{% endblock title_block %}





{% block main_content %}
<div class="page-content pb-3">
    <div class="soon-content-wrapper text-center" style="margin: 0 auto; max-width: 600px;">
        <!-- <img src="assets/images/logo-icon.png" alt="Logo" class="soon-logo mx-auto"> -->
        <h1 class="soon-title">Coming Soon</h1><!-- End .soon-title -->
        <div class="coming-countdown countdown-separator is-countdown"><span class="countdown-row countdown-show4"><span class="countdown-section"><span class="countdown-amount">00</span><span class="countdown-period">Days</span></span><span class="countdown-section"><span class="countdown-amount">00</span><span class="countdown-period">Hours</span></span><span class="countdown-section"><span class="countdown-amount">00</span><span class="countdown-period">Minutes</span></span><span class="countdown-section"><span class="countdown-amount">00</span><span class="countdown-period">Seconds</span></span></span></div><!-- End .coming-countdown -->
        <hr class="mt-2 mb-3 mt-md-3">
        <p>We are currently working on an awesome new site. Stay tuned for more information.
            Subscribe to our newsletter to stay updated on our progress.</p>
    </div>
</div>
    
</div>    
   

{% endblock main_content %}